@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?wml1vf');
  src:  url('icomoon.eot?wml1vf#iefix') format('embedded-opentype'),
    url('icomoon.ttf?wml1vf') format('truetype'),
    url('icomoon.woff?wml1vf') format('woff'),
    url('icomoon.svg?wml1vf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-outline:before {
  content: "\e900";
}
.icon-add-solid:before {
  content: "\e901";
}
.icon-adjust1:before {
  content: "\e902";
}
.icon-airplane1:before {
  content: "\e903";
}
.icon-album:before {
  content: "\e904";
}
.icon-align-center1:before {
  content: "\e905";
}
.icon-align-justified:before {
  content: "\e906";
}
.icon-align-left1:before {
  content: "\e907";
}
.icon-align-right1:before {
  content: "\e908";
}
.icon-anchor1:before {
  content: "\e909";
}
.icon-announcement:before {
  content: "\e90a";
}
.icon-apparel:before {
  content: "\e90b";
}
.icon-arrow-down3:before {
  content: "\e90c";
}
.icon-arrow-left3:before {
  content: "\e90d";
}
.icon-arrow-outline-down:before {
  content: "\e90e";
}
.icon-arrow-outline-left:before {
  content: "\e90f";
}
.icon-arrow-outline-right:before {
  content: "\e910";
}
.icon-arrow-outline-up:before {
  content: "\e911";
}
.icon-arrow-right3:before {
  content: "\e912";
}
.icon-arrow-thick-down:before {
  content: "\e913";
}
.icon-arrow-thick-left:before {
  content: "\e914";
}
.icon-arrow-thick-right:before {
  content: "\e915";
}
.icon-arrow-thick-up:before {
  content: "\e916";
}
.icon-arrow-thin-down:before {
  content: "\e917";
}
.icon-arrow-thin-left:before {
  content: "\e918";
}
.icon-arrow-thin-right:before {
  content: "\e919";
}
.icon-arrow-thin-up:before {
  content: "\e91a";
}
.icon-arrow-up3:before {
  content: "\e91b";
}
.icon-artist:before {
  content: "\e91c";
}
.icon-at-symbol:before {
  content: "\e91d";
}
.icon-attachment1:before {
  content: "\e91e";
}
.icon-backspace:before {
  content: "\e91f";
}
.icon-backward3:before {
  content: "\e920";
}
.icon-backward-step:before {
  content: "\e921";
}
.icon-badge:before {
  content: "\e922";
}
.icon-battery-full1:before {
  content: "\e923";
}
.icon-battery-half1:before {
  content: "\e924";
}
.icon-battery-low:before {
  content: "\e925";
}
.icon-beverage:before {
  content: "\e926";
}
.icon-block:before {
  content: "\e927";
}
.icon-bluetooth1:before {
  content: "\e928";
}
.icon-bolt1:before {
  content: "\e929";
}
.icon-book-reference:before {
  content: "\e92a";
}
.icon-bookmark2:before {
  content: "\e92b";
}
.icon-bookmarkcopy2:before {
  content: "\e92c";
}
.icon-bookmarkcopy3:before {
  content: "\e92d";
}
.icon-bookmark-outline:before {
  content: "\e92e";
}
.icon-bookmark-outline-add:before {
  content: "\e92f";
}
.icon-border-all:before {
  content: "\e930";
}
.icon-border-bottom:before {
  content: "\e931";
}
.icon-border-horizontal:before {
  content: "\e932";
}
.icon-border-inner:before {
  content: "\e933";
}
.icon-border-left:before {
  content: "\e934";
}
.icon-border-none:before {
  content: "\e935";
}
.icon-border-outer:before {
  content: "\e936";
}
.icon-border-right:before {
  content: "\e937";
}
.icon-border-top:before {
  content: "\e938";
}
.icon-border-vertical:before {
  content: "\e939";
}
.icon-box:before {
  content: "\e93a";
}
.icon-brightness-down:before {
  content: "\e93b";
}
.icon-brightness-up:before {
  content: "\e93c";
}
.icon-browser-window:before {
  content: "\e93d";
}
.icon-browser-window-new:before {
  content: "\e93e";
}
.icon-browser-window-open:before {
  content: "\e93f";
}
.icon-bug2:before {
  content: "\e940";
}
.icon-buoy:before {
  content: "\e941";
}
.icon-calculator2:before {
  content: "\e942";
}
.icon-calendar2:before {
  content: "\e943";
}
.icon-camera2:before {
  content: "\e944";
}
.icon-chart:before {
  content: "\e945";
}
.icon-chart-bar:before {
  content: "\e946";
}
.icon-chart-pie:before {
  content: "\e947";
}
.icon-chat-bubble-dots:before {
  content: "\e948";
}
.icon-checkmark1:before {
  content: "\e949";
}
.icon-checkmark-outline:before {
  content: "\e94a";
}
.icon-cheveron-down:before {
  content: "\e94b";
}
.icon-cheveron-left:before {
  content: "\e94c";
}
.icon-cheveron-outline-down:before {
  content: "\e94d";
}
.icon-cheveron-outline-left:before {
  content: "\e94e";
}
.icon-cheveron-outline-right:before {
  content: "\e94f";
}
.icon-cheveron-outline-up:before {
  content: "\e950";
}
.icon-cheveron-right:before {
  content: "\e951";
}
.icon-cheveron-up:before {
  content: "\e952";
}
.icon-clipboard2:before {
  content: "\e953";
}
.icon-close1:before {
  content: "\e954";
}
.icon-close-outline:before {
  content: "\e955";
}
.icon-close-solid:before {
  content: "\e956";
}
.icon-cloud2:before {
  content: "\e957";
}
.icon-cloud-upload2:before {
  content: "\e958";
}
.icon-code1:before {
  content: "\e959";
}
.icon-coffee1:before {
  content: "\e95a";
}
.icon-cog2:before {
  content: "\e95b";
}
.icon-color-palette:before {
  content: "\e95c";
}
.icon-compose:before {
  content: "\e95d";
}
.icon-computer-desktop:before {
  content: "\e95e";
}
.icon-computer-laptop:before {
  content: "\e95f";
}
.icon-conversation:before {
  content: "\e960";
}
.icon-copy2:before {
  content: "\e961";
}
.icon-credit-card2:before {
  content: "\e962";
}
.icon-currency-dollar:before {
  content: "\e963";
}
.icon-dashboard1:before {
  content: "\e964";
}
.icon-date-add:before {
  content: "\e965";
}
.icon-dial-pad:before {
  content: "\e966";
}
.icon-directions:before {
  content: "\e967";
}
.icon-document:before {
  content: "\e968";
}
.icon-document-add:before {
  content: "\e969";
}
.icon-dots-horizontal-double:before {
  content: "\e96a";
}
.icon-dots-horizontal-triple:before {
  content: "\e96b";
}
.icon-download4:before {
  content: "\e96c";
}
.icon-duplicate:before {
  content: "\e96d";
}
.icon-edit-copy:before {
  content: "\e96e";
}
.icon-edit-crop:before {
  content: "\e96f";
}
.icon-edit-cut:before {
  content: "\e970";
}
.icon-edit-pencil:before {
  content: "\e971";
}
.icon-education:before {
  content: "\e972";
}
.icon-envelope1:before {
  content: "\e973";
}
.icon-exclamation-outline:before {
  content: "\e974";
}
.icon-exclamation-solid:before {
  content: "\e975";
}
.icon-explore:before {
  content: "\e976";
}
.icon-factory:before {
  content: "\e977";
}
.icon-fast-forward1:before {
  content: "\e978";
}
.icon-fast-rewind:before {
  content: "\e979";
}
.icon-film2:before {
  content: "\e97a";
}
.icon-filter2:before {
  content: "\e97b";
}
.icon-flag2:before {
  content: "\e97c";
}
.icon-flashlight:before {
  content: "\e97d";
}
.icon-folder2:before {
  content: "\e97e";
}
.icon-folder-outline:before {
  content: "\e97f";
}
.icon-folder-outline-add:before {
  content: "\e980";
}
.icon-format-bold:before {
  content: "\e981";
}
.icon-format-font-size:before {
  content: "\e982";
}
.icon-format-italic:before {
  content: "\e983";
}
.icon-format-text-size:before {
  content: "\e984";
}
.icon-format-underline:before {
  content: "\e985";
}
.icon-forward4:before {
  content: "\e986";
}
.icon-forward-step:before {
  content: "\e987";
}
.icon-gift2:before {
  content: "\e988";
}
.icon-globe1:before {
  content: "\e989";
}
.icon-hand-stop:before {
  content: "\e98a";
}
.icon-hard-drive:before {
  content: "\e98b";
}
.icon-headphones2:before {
  content: "\e98c";
}
.icon-heart2:before {
  content: "\e98d";
}
.icon-home4:before {
  content: "\e98e";
}
.icon-hot:before {
  content: "\e98f";
}
.icon-hour-glass1:before {
  content: "\e990";
}
.icon-inbox1:before {
  content: "\e991";
}
.icon-inbox-check:before {
  content: "\e992";
}
.icon-inbox-download:before {
  content: "\e993";
}
.icon-inbox-full:before {
  content: "\e994";
}
.icon-indent-decrease1:before {
  content: "\e995";
}
.icon-indent-increase1:before {
  content: "\e996";
}
.icon-information-outline:before {
  content: "\e997";
}
.icon-information-solid:before {
  content: "\e998";
}
.icon-key3:before {
  content: "\e999";
}
.icon-keyboard1:before {
  content: "\e99a";
}
.icon-layers:before {
  content: "\e99b";
}
.icon-library1:before {
  content: "\e99c";
}
.icon-light-bulb:before {
  content: "\e99d";
}
.icon-link2:before {
  content: "\e99e";
}
.icon-list3:before {
  content: "\e99f";
}
.icon-list-add:before {
  content: "\e9a0";
}
.icon-list-bullet:before {
  content: "\e9a1";
}
.icon-load-balancer:before {
  content: "\e9a2";
}
.icon-location1:before {
  content: "\e9a3";
}
.icon-location-current:before {
  content: "\e9a4";
}
.icon-location-food:before {
  content: "\e9a5";
}
.icon-location-gas-station:before {
  content: "\e9a6";
}
.icon-location-hotel:before {
  content: "\e9a7";
}
.icon-location-marina:before {
  content: "\e9a8";
}
.icon-location-park:before {
  content: "\e9a9";
}
.icon-location-restroom:before {
  content: "\e9aa";
}
.icon-location-shopping:before {
  content: "\e9ab";
}
.icon-lock-closed:before {
  content: "\e9ac";
}
.icon-lock-open:before {
  content: "\e9ad";
}
.icon-map3:before {
  content: "\e9ae";
}
.icon-menu1:before {
  content: "\e9af";
}
.icon-mic1:before {
  content: "\e9b0";
}
.icon-minus-outline:before {
  content: "\e9b1";
}
.icon-minus-solid:before {
  content: "\e9b2";
}
.icon-mobile-devices:before {
  content: "\e9b3";
}
.icon-mood-happy-outline:before {
  content: "\e9b4";
}
.icon-mood-happy-solid:before {
  content: "\e9b5";
}
.icon-mood-neutral-outline:before {
  content: "\e9b6";
}
.icon-mood-neutral-solid:before {
  content: "\e9b7";
}
.icon-mood-sad-outline:before {
  content: "\e9b8";
}
.icon-mood-sad-solid:before {
  content: "\e9b9";
}
.icon-mouse:before {
  content: "\e9ba";
}
.icon-music-album:before {
  content: "\e9bb";
}
.icon-music-artist:before {
  content: "\e9bc";
}
.icon-music-notes:before {
  content: "\e9bd";
}
.icon-music-playlist:before {
  content: "\e9be";
}
.icon-navigation-more:before {
  content: "\e9bf";
}
.icon-network:before {
  content: "\e9c0";
}
.icon-news-paper:before {
  content: "\e9c1";
}
.icon-notification1:before {
  content: "\e9c2";
}
.icon-notifications:before {
  content: "\e9c3";
}
.icon-notifications-outline:before {
  content: "\e9c4";
}
.icon-paste2:before {
  content: "\e9c5";
}
.icon-pause3:before {
  content: "\e9c6";
}
.icon-pause-outline:before {
  content: "\e9c7";
}
.icon-pause-solid:before {
  content: "\e9c8";
}
.icon-pen-tool:before {
  content: "\e9c9";
}
.icon-phone2:before {
  content: "\e9ca";
}
.icon-photo1:before {
  content: "\e9cb";
}
.icon-php-elephant:before {
  content: "\e9cc";
}
.icon-pin:before {
  content: "\e9cd";
}
.icon-play4:before {
  content: "\e9ce";
}
.icon-play-outline:before {
  content: "\e9cf";
}
.icon-playlist:before {
  content: "\e9d0";
}
.icon-plugin:before {
  content: "\e9d1";
}
.icon-portfolio:before {
  content: "\e9d2";
}
.icon-printer1:before {
  content: "\e9d3";
}
.icon-pylon:before {
  content: "\e9d4";
}
.icon-question2:before {
  content: "\e9d5";
}
.icon-queue:before {
  content: "\e9d6";
}
.icon-radar:before {
  content: "\e9d7";
}
.icon-radarcopy2:before {
  content: "\e9d8";
}
.icon-radio:before {
  content: "\e9d9";
}
.icon-refresh1:before {
  content: "\e9da";
}
.icon-reload:before {
  content: "\e9db";
}
.icon-reply2:before {
  content: "\e9dc";
}
.icon-reply-all1:before {
  content: "\e9dd";
}
.icon-repost:before {
  content: "\e9de";
}
.icon-save-disk:before {
  content: "\e9df";
}
.icon-screen-full:before {
  content: "\e9e0";
}
.icon-search2:before {
  content: "\e9e1";
}
.icon-send1:before {
  content: "\e9e2";
}
.icon-servers:before {
  content: "\e9e3";
}
.icon-share3:before {
  content: "\e9e4";
}
.icon-share-01:before {
  content: "\e9e5";
}
.icon-share-alt1:before {
  content: "\e9e6";
}
.icon-shield2:before {
  content: "\e9e7";
}
.icon-shopping-cart1:before {
  content: "\e9e8";
}
.icon-show-sidebar:before {
  content: "\e9e9";
}
.icon-shuffle1:before {
  content: "\e9ea";
}
.icon-stand-by:before {
  content: "\e9eb";
}
.icon-star-full1:before {
  content: "\e9ec";
}
.icon-station:before {
  content: "\e9ed";
}
.icon-step-backward1:before {
  content: "\e9ee";
}
.icon-step-forward1:before {
  content: "\e9ef";
}
.icon-stethoscope1:before {
  content: "\e9f0";
}
.icon-store-front:before {
  content: "\e9f1";
}
.icon-stroke-width:before {
  content: "\e9f2";
}
.icon-subdirectory-left:before {
  content: "\e9f3";
}
.icon-subdirectory-right:before {
  content: "\e9f4";
}
.icon-swap:before {
  content: "\e9f5";
}
.icon-tablet2:before {
  content: "\e9f6";
}
.icon-tag1:before {
  content: "\e9f7";
}
.icon-target1:before {
  content: "\e9f8";
}
.icon-text-box:before {
  content: "\e9f9";
}
.icon-text-decoration:before {
  content: "\e9fa";
}
.icon-thermometer1:before {
  content: "\e9fb";
}
.icon-thumbs-down1:before {
  content: "\e9fc";
}
.icon-thumbs-up1:before {
  content: "\e9fd";
}
.icon-ticket2:before {
  content: "\e9fe";
}
.icon-time:before {
  content: "\e9ff";
}
.icon-timer:before {
  content: "\ea00";
}
.icon-toolscopy:before {
  content: "\ea01";
}
.icon-translate:before {
  content: "\ea02";
}
.icon-trash1:before {
  content: "\ea03";
}
.icon-travel:before {
  content: "\ea04";
}
.icon-travel-bus:before {
  content: "\ea05";
}
.icon-travel-car:before {
  content: "\ea06";
}
.icon-travel-case:before {
  content: "\ea07";
}
.icon-travel-taxi-cab:before {
  content: "\ea08";
}
.icon-travel-train:before {
  content: "\ea09";
}
.icon-travel-walk:before {
  content: "\ea0a";
}
.icon-trophy2:before {
  content: "\ea0b";
}
.icon-tuning:before {
  content: "\ea0c";
}
.icon-upload4:before {
  content: "\ea0d";
}
.icon-usb1:before {
  content: "\ea0e";
}
.icon-user2:before {
  content: "\ea0f";
}
.icon-user-add:before {
  content: "\ea10";
}
.icon-user-group:before {
  content: "\ea11";
}
.icon-user-solid-circle:before {
  content: "\ea12";
}
.icon-user-solid-square:before {
  content: "\ea13";
}
.icon-vector:before {
  content: "\ea14";
}
.icon-video-camera2:before {
  content: "\ea15";
}
.icon-view-carousel:before {
  content: "\ea16";
}
.icon-view-column:before {
  content: "\ea17";
}
.icon-view-hide:before {
  content: "\ea18";
}
.icon-view-list:before {
  content: "\ea19";
}
.icon-view-show:before {
  content: "\ea1a";
}
.icon-view-tile:before {
  content: "\ea1b";
}
.icon-volume-down1:before {
  content: "\ea1c";
}
.icon-volume-mute1:before {
  content: "\ea1d";
}
.icon-volume-off1:before {
  content: "\ea1e";
}
.icon-volume-up1:before {
  content: "\ea1f";
}
.icon-wallet:before {
  content: "\ea20";
}
.icon-watch:before {
  content: "\ea21";
}
.icon-window:before {
  content: "\ea22";
}
.icon-window-new:before {
  content: "\ea23";
}
.icon-window-open:before {
  content: "\ea24";
}
.icon-wrench2:before {
  content: "\ea25";
}
.icon-yin-yang:before {
  content: "\ea26";
}
.icon-zoom-in1:before {
  content: "\ea27";
}
.icon-zoom-out1:before {
  content: "\ea28";
}
.icon-add-to-list:before {
  content: "\ea29";
}
.icon-classic-computer:before {
  content: "\ea2a";
}
.icon-controller-fast-backward:before {
  content: "\ea2b";
}
.icon-creative-commons-attribution:before {
  content: "\ea2c";
}
.icon-creative-commons-noderivs:before {
  content: "\ea2d";
}
.icon-creative-commons-noncommercial-eu:before {
  content: "\ea2e";
}
.icon-creative-commons-noncommercial-us:before {
  content: "\ea2f";
}
.icon-creative-commons-public-domain:before {
  content: "\ea30";
}
.icon-creative-commons-remix:before {
  content: "\ea31";
}
.icon-creative-commons-share:before {
  content: "\ea32";
}
.icon-creative-commons-sharealike:before {
  content: "\ea33";
}
.icon-creative-commons1:before {
  content: "\ea34";
}
.icon-document-landscape:before {
  content: "\ea35";
}
.icon-remove-user:before {
  content: "\ea36";
}
.icon-warning2:before {
  content: "\ea37";
}
.icon-arrow-bold-down:before {
  content: "\ea38";
}
.icon-arrow-bold-left:before {
  content: "\ea39";
}
.icon-arrow-bold-right:before {
  content: "\ea3a";
}
.icon-arrow-bold-up:before {
  content: "\ea3b";
}
.icon-arrow-down4:before {
  content: "\ea3c";
}
.icon-arrow-left4:before {
  content: "\ea3d";
}
.icon-arrow-long-down:before {
  content: "\ea3e";
}
.icon-arrow-long-left:before {
  content: "\ea3f";
}
.icon-arrow-long-right:before {
  content: "\ea40";
}
.icon-arrow-long-up:before {
  content: "\ea41";
}
.icon-arrow-right4:before {
  content: "\ea42";
}
.icon-arrow-up4:before {
  content: "\ea43";
}
.icon-arrow-with-circle-down:before {
  content: "\ea44";
}
.icon-arrow-with-circle-left:before {
  content: "\ea45";
}
.icon-arrow-with-circle-right:before {
  content: "\ea46";
}
.icon-arrow-with-circle-up:before {
  content: "\ea47";
}
.icon-bookmark3:before {
  content: "\ea48";
}
.icon-bookmarks1:before {
  content: "\ea49";
}
.icon-chevron-down1:before {
  content: "\ea4a";
}
.icon-chevron-left1:before {
  content: "\ea4b";
}
.icon-chevron-right1:before {
  content: "\ea4c";
}
.icon-chevron-small-down:before {
  content: "\ea4d";
}
.icon-chevron-small-left:before {
  content: "\ea4e";
}
.icon-chevron-small-right:before {
  content: "\ea4f";
}
.icon-chevron-small-up:before {
  content: "\ea50";
}
.icon-chevron-thin-down:before {
  content: "\ea51";
}
.icon-chevron-thin-left:before {
  content: "\ea52";
}
.icon-chevron-thin-right:before {
  content: "\ea53";
}
.icon-chevron-thin-up:before {
  content: "\ea54";
}
.icon-chevron-up1:before {
  content: "\ea55";
}
.icon-chevron-with-circle-down:before {
  content: "\ea56";
}
.icon-chevron-with-circle-left:before {
  content: "\ea57";
}
.icon-chevron-with-circle-right:before {
  content: "\ea58";
}
.icon-chevron-with-circle-up:before {
  content: "\ea59";
}
.icon-cloud3:before {
  content: "\ea5a";
}
.icon-controller-fast-forward:before {
  content: "\ea5b";
}
.icon-controller-jump-to-start:before {
  content: "\ea5c";
}
.icon-controller-next:before {
  content: "\ea5d";
}
.icon-controller-paus:before {
  content: "\ea5e";
}
.icon-controller-play:before {
  content: "\ea5f";
}
.icon-controller-record:before {
  content: "\ea60";
}
.icon-controller-stop:before {
  content: "\ea61";
}
.icon-controller-volume:before {
  content: "\ea62";
}
.icon-dot-single:before {
  content: "\ea63";
}
.icon-dots-three-horizontal:before {
  content: "\ea64";
}
.icon-dots-three-vertical:before {
  content: "\ea65";
}
.icon-dots-two-horizontal:before {
  content: "\ea66";
}
.icon-dots-two-vertical:before {
  content: "\ea67";
}
.icon-download5:before {
  content: "\ea68";
}
.icon-emoji-flirt:before {
  content: "\ea69";
}
.icon-flow-branch:before {
  content: "\ea6a";
}
.icon-flow-cascade:before {
  content: "\ea6b";
}
.icon-flow-line:before {
  content: "\ea6c";
}
.icon-flow-parallel:before {
  content: "\ea6d";
}
.icon-flow-tree:before {
  content: "\ea6e";
}
.icon-install:before {
  content: "\ea6f";
}
.icon-layers1:before {
  content: "\ea70";
}
.icon-open-book:before {
  content: "\ea71";
}
.icon-resize-100:before {
  content: "\ea72";
}
.icon-resize-full-screen:before {
  content: "\ea73";
}
.icon-save1:before {
  content: "\ea74";
}
.icon-select-arrows:before {
  content: "\ea75";
}
.icon-sound-mute:before {
  content: "\ea76";
}
.icon-sound:before {
  content: "\ea77";
}
.icon-trash2:before {
  content: "\ea78";
}
.icon-triangle-down:before {
  content: "\ea79";
}
.icon-triangle-left:before {
  content: "\ea7a";
}
.icon-triangle-right:before {
  content: "\ea7b";
}
.icon-triangle-up:before {
  content: "\ea7c";
}
.icon-uninstall:before {
  content: "\ea7d";
}
.icon-upload-to-cloud:before {
  content: "\ea7e";
}
.icon-upload5:before {
  content: "\ea7f";
}
.icon-add-user:before {
  content: "\ea80";
}
.icon-address:before {
  content: "\ea81";
}
.icon-adjust2:before {
  content: "\ea82";
}
.icon-air:before {
  content: "\ea83";
}
.icon-aircraft-landing:before {
  content: "\ea84";
}
.icon-aircraft-take-off:before {
  content: "\ea85";
}
.icon-aircraft:before {
  content: "\ea86";
}
.icon-align-bottom:before {
  content: "\ea87";
}
.icon-align-horizontal-middle:before {
  content: "\ea88";
}
.icon-align-left2:before {
  content: "\ea89";
}
.icon-align-right2:before {
  content: "\ea8a";
}
.icon-align-top:before {
  content: "\ea8b";
}
.icon-align-vertical-middle:before {
  content: "\ea8c";
}
.icon-archive1:before {
  content: "\ea8d";
}
.icon-area-graph:before {
  content: "\ea8e";
}
.icon-attachment2:before {
  content: "\ea8f";
}
.icon-awareness-ribbon:before {
  content: "\ea90";
}
.icon-back-in-time:before {
  content: "\ea91";
}
.icon-back:before {
  content: "\ea92";
}
.icon-bar-graph:before {
  content: "\ea93";
}
.icon-battery1:before {
  content: "\ea94";
}
.icon-beamed-note:before {
  content: "\ea95";
}
.icon-bell2:before {
  content: "\ea96";
}
.icon-blackboard:before {
  content: "\ea97";
}
.icon-block1:before {
  content: "\ea98";
}
.icon-book2:before {
  content: "\ea99";
}
.icon-bowl:before {
  content: "\ea9a";
}
.icon-box1:before {
  content: "\ea9b";
}
.icon-briefcase2:before {
  content: "\ea9c";
}
.icon-browser:before {
  content: "\ea9d";
}
.icon-brush:before {
  content: "\ea9e";
}
.icon-bucket:before {
  content: "\ea9f";
}
.icon-cake:before {
  content: "\eaa0";
}
.icon-calculator3:before {
  content: "\eaa1";
}
.icon-calendar3:before {
  content: "\eaa2";
}
.icon-camera3:before {
  content: "\eaa3";
}
.icon-ccw:before {
  content: "\eaa4";
}
.icon-chat:before {
  content: "\eaa5";
}
.icon-check1:before {
  content: "\eaa6";
}
.icon-circle-with-cross:before {
  content: "\eaa7";
}
.icon-circle-with-minus:before {
  content: "\eaa8";
}
.icon-circle-with-plus:before {
  content: "\eaa9";
}
.icon-circle1:before {
  content: "\eaaa";
}
.icon-circular-graph:before {
  content: "\eaab";
}
.icon-clapperboard:before {
  content: "\eaac";
}
.icon-clipboard3:before {
  content: "\eaad";
}
.icon-clock1:before {
  content: "\eaae";
}
.icon-code2:before {
  content: "\eaaf";
}
.icon-cog3:before {
  content: "\eab0";
}
.icon-colours:before {
  content: "\eab1";
}
.icon-compass3:before {
  content: "\eab2";
}
.icon-copy3:before {
  content: "\eab3";
}
.icon-credit-card3:before {
  content: "\eab4";
}
.icon-credit:before {
  content: "\eab5";
}
.icon-cross1:before {
  content: "\eab6";
}
.icon-cup:before {
  content: "\eab7";
}
.icon-cw:before {
  content: "\eab8";
}
.icon-cycle:before {
  content: "\eab9";
}
.icon-database2:before {
  content: "\eaba";
}
.icon-dial-pad1:before {
  content: "\eabb";
}
.icon-direction:before {
  content: "\eabc";
}
.icon-document1:before {
  content: "\eabd";
}
.icon-documents:before {
  content: "\eabe";
}
.icon-drink:before {
  content: "\eabf";
}
.icon-drive1:before {
  content: "\eac0";
}
.icon-drop:before {
  content: "\eac1";
}
.icon-edit1:before {
  content: "\eac2";
}
.icon-email:before {
  content: "\eac3";
}
.icon-emoji-happy:before {
  content: "\eac4";
}
.icon-emoji-neutral:before {
  content: "\eac5";
}
.icon-emoji-sad:before {
  content: "\eac6";
}
.icon-erase:before {
  content: "\eac7";
}
.icon-eraser1:before {
  content: "\eac8";
}
.icon-export:before {
  content: "\eac9";
}
.icon-eye2:before {
  content: "\eaca";
}
.icon-feather:before {
  content: "\eacb";
}
.icon-flag3:before {
  content: "\eacc";
}
.icon-flash1:before {
  content: "\eacd";
}
.icon-flashlight1:before {
  content: "\eace";
}
.icon-flat-brush:before {
  content: "\eacf";
}
.icon-folder-images:before {
  content: "\ead0";
}
.icon-folder-music:before {
  content: "\ead1";
}
.icon-folder-video:before {
  content: "\ead2";
}
.icon-folder3:before {
  content: "\ead3";
}
.icon-forward5:before {
  content: "\ead4";
}
.icon-funnel:before {
  content: "\ead5";
}
.icon-game-controller:before {
  content: "\ead6";
}
.icon-gauge:before {
  content: "\ead7";
}
.icon-globe2:before {
  content: "\ead8";
}
.icon-graduation-cap1:before {
  content: "\ead9";
}
.icon-grid:before {
  content: "\eada";
}
.icon-hair-cross:before {
  content: "\eadb";
}
.icon-hand:before {
  content: "\eadc";
}
.icon-heart-outlined:before {
  content: "\eadd";
}
.icon-heart3:before {
  content: "\eade";
}
.icon-help-with-circle:before {
  content: "\eadf";
}
.icon-help:before {
  content: "\eae0";
}
.icon-home5:before {
  content: "\eae1";
}
.icon-hour-glass2:before {
  content: "\eae2";
}
.icon-image-inverted:before {
  content: "\eae3";
}
.icon-image2:before {
  content: "\eae4";
}
.icon-images1:before {
  content: "\eae5";
}
.icon-inbox2:before {
  content: "\eae6";
}
.icon-infinity:before {
  content: "\eae7";
}
.icon-info-with-circle:before {
  content: "\eae8";
}
.icon-info2:before {
  content: "\eae9";
}
.icon-key4:before {
  content: "\eaea";
}
.icon-keyboard2:before {
  content: "\eaeb";
}
.icon-lab-flask:before {
  content: "\eaec";
}
.icon-landline:before {
  content: "\eaed";
}
.icon-language1:before {
  content: "\eaee";
}
.icon-laptop2:before {
  content: "\eaef";
}
.icon-leaf2:before {
  content: "\eaf0";
}
.icon-level-down1:before {
  content: "\eaf1";
}
.icon-level-up1:before {
  content: "\eaf2";
}
.icon-lifebuoy1:before {
  content: "\eaf3";
}
.icon-light-bulb1:before {
  content: "\eaf4";
}
.icon-light-down:before {
  content: "\eaf5";
}
.icon-light-up:before {
  content: "\eaf6";
}
.icon-line-graph:before {
  content: "\eaf7";
}
.icon-link3:before {
  content: "\eaf8";
}
.icon-list4:before {
  content: "\eaf9";
}
.icon-location-pin:before {
  content: "\eafa";
}
.icon-location3:before {
  content: "\eafb";
}
.icon-lock-open1:before {
  content: "\eafc";
}
.icon-lock2:before {
  content: "\eafd";
}
.icon-log-out:before {
  content: "\eafe";
}
.icon-login:before {
  content: "\eaff";
}
.icon-loop1:before {
  content: "\eb00";
}
.icon-magnet2:before {
  content: "\eb01";
}
.icon-magnifying-glass:before {
  content: "\eb02";
}
.icon-mail1:before {
  content: "\eb03";
}
.icon-man1:before {
  content: "\eb04";
}
.icon-map4:before {
  content: "\eb05";
}
.icon-mask:before {
  content: "\eb06";
}
.icon-medal:before {
  content: "\eb07";
}
.icon-megaphone:before {
  content: "\eb08";
}
.icon-menu5:before {
  content: "\eb09";
}
.icon-message:before {
  content: "\eb0a";
}
.icon-mic2:before {
  content: "\eb0b";
}
.icon-minus2:before {
  content: "\eb0c";
}
.icon-mobile3:before {
  content: "\eb0d";
}
.icon-modern-mic:before {
  content: "\eb0e";
}
.icon-moon:before {
  content: "\eb0f";
}
.icon-mouse1:before {
  content: "\eb10";
}
.icon-music2:before {
  content: "\eb11";
}
.icon-network1:before {
  content: "\eb12";
}
.icon-new-message:before {
  content: "\eb13";
}
.icon-new:before {
  content: "\eb14";
}
.icon-news:before {
  content: "\eb15";
}
.icon-note:before {
  content: "\eb16";
}
.icon-notification2:before {
  content: "\eb17";
}
.icon-old-mobile:before {
  content: "\eb18";
}
.icon-old-phone:before {
  content: "\eb19";
}
.icon-palette:before {
  content: "\eb1a";
}
.icon-paper-plane1:before {
  content: "\eb1b";
}
.icon-pencil3:before {
  content: "\eb1c";
}
.icon-phone3:before {
  content: "\eb1d";
}
.icon-pie-chart2:before {
  content: "\eb1e";
}
.icon-pin1:before {
  content: "\eb1f";
}
.icon-plus2:before {
  content: "\eb20";
}
.icon-popup:before {
  content: "\eb21";
}
.icon-power-plug:before {
  content: "\eb22";
}
.icon-price-ribbon:before {
  content: "\eb23";
}
.icon-price-tag1:before {
  content: "\eb24";
}
.icon-print1:before {
  content: "\eb25";
}
.icon-progress-empty:before {
  content: "\eb26";
}
.icon-progress-full:before {
  content: "\eb27";
}
.icon-progress-one:before {
  content: "\eb28";
}
.icon-progress-two:before {
  content: "\eb29";
}
.icon-publish:before {
  content: "\eb2a";
}
.icon-quote:before {
  content: "\eb2b";
}
.icon-radio1:before {
  content: "\eb2c";
}
.icon-reply-all2:before {
  content: "\eb2d";
}
.icon-reply3:before {
  content: "\eb2e";
}
.icon-retweet1:before {
  content: "\eb2f";
}
.icon-rocket2:before {
  content: "\eb30";
}
.icon-round-brush:before {
  content: "\eb31";
}
.icon-rss3:before {
  content: "\eb32";
}
.icon-ruler:before {
  content: "\eb33";
}
.icon-scissors2:before {
  content: "\eb34";
}
.icon-share-alternitive:before {
  content: "\eb35";
}
.icon-share4:before {
  content: "\eb36";
}
.icon-shareable:before {
  content: "\eb37";
}
.icon-shield3:before {
  content: "\eb38";
}
.icon-shop:before {
  content: "\eb39";
}
.icon-shopping-bag1:before {
  content: "\eb3a";
}
.icon-shopping-basket1:before {
  content: "\eb3b";
}
.icon-shopping-cart2:before {
  content: "\eb3c";
}
.icon-shuffle2:before {
  content: "\eb3d";
}
.icon-signal1:before {
  content: "\eb3e";
}
.icon-sound-mix:before {
  content: "\eb3f";
}
.icon-sports-club:before {
  content: "\eb40";
}
.icon-spreadsheet:before {
  content: "\eb41";
}
.icon-squared-cross:before {
  content: "\eb42";
}
.icon-squared-minus:before {
  content: "\eb43";
}
.icon-squared-plus:before {
  content: "\eb44";
}
.icon-star-outlined:before {
  content: "\eb45";
}
.icon-star1:before {
  content: "\eb46";
}
.icon-stopwatch1:before {
  content: "\eb47";
}
.icon-suitcase1:before {
  content: "\eb48";
}
.icon-swap1:before {
  content: "\eb49";
}
.icon-sweden:before {
  content: "\eb4a";
}
.icon-switch1:before {
  content: "\eb4b";
}
.icon-tablet3:before {
  content: "\eb4c";
}
.icon-tag2:before {
  content: "\eb4d";
}
.icon-text-document-inverted:before {
  content: "\eb4e";
}
.icon-text-document:before {
  content: "\eb4f";
}
.icon-text:before {
  content: "\eb50";
}
.icon-thermometer2:before {
  content: "\eb51";
}
.icon-thumbs-down2:before {
  content: "\eb52";
}
.icon-thumbs-up2:before {
  content: "\eb53";
}
.icon-thunder-cloud:before {
  content: "\eb54";
}
.icon-ticket3:before {
  content: "\eb55";
}
.icon-time-slot:before {
  content: "\eb56";
}
.icon-tools:before {
  content: "\eb57";
}
.icon-traffic-cone:before {
  content: "\eb58";
}
.icon-tree2:before {
  content: "\eb59";
}
.icon-trophy3:before {
  content: "\eb5a";
}
.icon-tv2:before {
  content: "\eb5b";
}
.icon-typing:before {
  content: "\eb5c";
}
.icon-unread:before {
  content: "\eb5d";
}
.icon-untag:before {
  content: "\eb5e";
}
.icon-user3:before {
  content: "\eb5f";
}
.icon-users2:before {
  content: "\eb60";
}
.icon-v-card:before {
  content: "\eb61";
}
.icon-video:before {
  content: "\eb62";
}
.icon-vinyl:before {
  content: "\eb63";
}
.icon-voicemail:before {
  content: "\eb64";
}
.icon-wallet1:before {
  content: "\eb65";
}
.icon-water:before {
  content: "\eb66";
}
.icon-500px-with-circle:before {
  content: "\eb67";
}
.icon-500px2:before {
  content: "\eb68";
}
.icon-basecamp1:before {
  content: "\eb69";
}
.icon-behance3:before {
  content: "\eb6a";
}
.icon-creative-cloud:before {
  content: "\eb6b";
}
.icon-dropbox2:before {
  content: "\eb6c";
}
.icon-evernote:before {
  content: "\eb6d";
}
.icon-flattr1:before {
  content: "\eb6e";
}
.icon-foursquare2:before {
  content: "\eb6f";
}
.icon-google-drive1:before {
  content: "\eb70";
}
.icon-google-hangouts:before {
  content: "\eb71";
}
.icon-grooveshark:before {
  content: "\eb72";
}
.icon-icloud:before {
  content: "\eb73";
}
.icon-mixi:before {
  content: "\eb74";
}
.icon-onedrive1:before {
  content: "\eb75";
}
.icon-paypal2:before {
  content: "\eb76";
}
.icon-picasa:before {
  content: "\eb77";
}
.icon-qq1:before {
  content: "\eb78";
}
.icon-rdio-with-circle:before {
  content: "\eb79";
}
.icon-renren2:before {
  content: "\eb7a";
}
.icon-scribd1:before {
  content: "\eb7b";
}
.icon-sina-weibo1:before {
  content: "\eb7c";
}
.icon-skype-with-circle:before {
  content: "\eb7d";
}
.icon-skype2:before {
  content: "\eb7e";
}
.icon-slideshare1:before {
  content: "\eb7f";
}
.icon-smashing:before {
  content: "\eb80";
}
.icon-soundcloud3:before {
  content: "\eb81";
}
.icon-spotify-with-circle:before {
  content: "\eb82";
}
.icon-spotify2:before {
  content: "\eb83";
}
.icon-swarm:before {
  content: "\eb84";
}
.icon-vine-with-circle:before {
  content: "\eb85";
}
.icon-vine2:before {
  content: "\eb86";
}
.icon-vk-alternitive:before {
  content: "\eb87";
}
.icon-vk-with-circle:before {
  content: "\eb88";
}
.icon-vk2:before {
  content: "\eb89";
}
.icon-xing-with-circle:before {
  content: "\eb8a";
}
.icon-xing3:before {
  content: "\eb8b";
}
.icon-yelp2:before {
  content: "\eb8c";
}
.icon-dribbble-with-circle:before {
  content: "\eb8d";
}
.icon-dribbble2:before {
  content: "\eb8e";
}
.icon-facebook-with-circle:before {
  content: "\eb8f";
}
.icon-facebook3:before {
  content: "\eb90";
}
.icon-flickr-with-circle:before {
  content: "\eb91";
}
.icon-flickr5:before {
  content: "\eb92";
}
.icon-github-with-circle:before {
  content: "\eb93";
}
.icon-github2:before {
  content: "\eb94";
}
.icon-google-with-circle:before {
  content: "\eb95";
}
.icon-google4:before {
  content: "\eb96";
}
.icon-instagram-with-circle:before {
  content: "\eb97";
}
.icon-instagram2:before {
  content: "\eb98";
}
.icon-lastfm-with-circle:before {
  content: "\eb99";
}
.icon-lastfm3:before {
  content: "\eb9a";
}
.icon-linkedin-with-circle:before {
  content: "\eb9b";
}
.icon-linkedin3:before {
  content: "\eb9c";
}
.icon-pinterest-with-circle:before {
  content: "\eb9d";
}
.icon-pinterest3:before {
  content: "\eb9e";
}
.icon-rdio:before {
  content: "\eb9f";
}
.icon-stumbleupon-with-circle:before {
  content: "\eba0";
}
.icon-stumbleupon3:before {
  content: "\eba1";
}
.icon-tumblr-with-circle:before {
  content: "\eba2";
}
.icon-tumblr3:before {
  content: "\eba3";
}
.icon-twitter-with-circle:before {
  content: "\eba4";
}
.icon-twitter2:before {
  content: "\eba5";
}
.icon-vimeo-with-circle:before {
  content: "\eba6";
}
.icon-vimeo3:before {
  content: "\eba7";
}
.icon-youtube-with-circle:before {
  content: "\eba8";
}
.icon-youtube3:before {
  content: "\eba9";
}
.icon-warning3:before {
  content: "\ebaa";
}
.icon-cloud4:before {
  content: "\ebab";
}
.icon-locked:before {
  content: "\ebac";
}
.icon-inbox3:before {
  content: "\ebad";
}
.icon-comment1:before {
  content: "\ebae";
}
.icon-mic3:before {
  content: "\ebaf";
}
.icon-envelope2:before {
  content: "\ebb0";
}
.icon-briefcase3:before {
  content: "\ebb1";
}
.icon-cart1:before {
  content: "\ebb2";
}
.icon-contrast1:before {
  content: "\ebb3";
}
.icon-clock3:before {
  content: "\ebb4";
}
.icon-user4:before {
  content: "\ebb5";
}
.icon-cog4:before {
  content: "\ebb6";
}
.icon-music3:before {
  content: "\ebb7";
}
.icon-twitter3:before {
  content: "\ebb8";
}
.icon-pencil4:before {
  content: "\ebb9";
}
.icon-frame:before {
  content: "\ebba";
}
.icon-switch2:before {
  content: "\ebbb";
}
.icon-star2:before {
  content: "\ebbc";
}
.icon-key5:before {
  content: "\ebbd";
}
.icon-chart1:before {
  content: "\ebbe";
}
.icon-apple1:before {
  content: "\ebbf";
}
.icon-file1:before {
  content: "\ebc0";
}
.icon-plus3:before {
  content: "\ebc1";
}
.icon-minus3:before {
  content: "\ebc2";
}
.icon-picture:before {
  content: "\ebc3";
}
.icon-folder4:before {
  content: "\ebc4";
}
.icon-camera4:before {
  content: "\ebc5";
}
.icon-search3:before {
  content: "\ebc6";
}
.icon-dribbble3:before {
  content: "\ebc7";
}
.icon-forrst:before {
  content: "\ebc8";
}
.icon-feed2:before {
  content: "\ebc9";
}
.icon-blocked1:before {
  content: "\ebca";
}
.icon-target2:before {
  content: "\ebcb";
}
.icon-play5:before {
  content: "\ebcc";
}
.icon-pause4:before {
  content: "\ebcd";
}
.icon-bug3:before {
  content: "\ebce";
}
.icon-console:before {
  content: "\ebcf";
}
.icon-film3:before {
  content: "\ebd0";
}
.icon-type:before {
  content: "\ebd1";
}
.icon-home6:before {
  content: "\ebd2";
}
.icon-earth1:before {
  content: "\ebd3";
}
.icon-location4:before {
  content: "\ebd4";
}
.icon-info3:before {
  content: "\ebd5";
}
.icon-eye3:before {
  content: "\ebd6";
}
.icon-heart4:before {
  content: "\ebd7";
}
.icon-bookmark4:before {
  content: "\ebd8";
}
.icon-wrench3:before {
  content: "\ebd9";
}
.icon-calendar4:before {
  content: "\ebda";
}
.icon-window1:before {
  content: "\ebdb";
}
.icon-monitor:before {
  content: "\ebdc";
}
.icon-mobile4:before {
  content: "\ebdd";
}
.icon-droplet1:before {
  content: "\ebde";
}
.icon-mouse2:before {
  content: "\ebdf";
}
.icon-refresh2:before {
  content: "\ebe0";
}
.icon-location5:before {
  content: "\ebe1";
}
.icon-tag3:before {
  content: "\ebe2";
}
.icon-phone4:before {
  content: "\ebe3";
}
.icon-star3:before {
  content: "\ebe4";
}
.icon-pointer:before {
  content: "\ebe5";
}
.icon-thumbsup:before {
  content: "\ebe6";
}
.icon-thumbsdown:before {
  content: "\ebe7";
}
.icon-headphones3:before {
  content: "\ebe8";
}
.icon-move:before {
  content: "\ebe9";
}
.icon-checkmark3:before {
  content: "\ebea";
}
.icon-cancel:before {
  content: "\ebeb";
}
.icon-skype3:before {
  content: "\ebec";
}
.icon-gift3:before {
  content: "\ebed";
}
.icon-cone:before {
  content: "\ebee";
}
.icon-alarm1:before {
  content: "\ebef";
}
.icon-coffee2:before {
  content: "\ebf0";
}
.icon-basket:before {
  content: "\ebf1";
}
.icon-flag4:before {
  content: "\ebf2";
}
.icon-ipod:before {
  content: "\ebf3";
}
.icon-trashcan:before {
  content: "\ebf4";
}
.icon-bolt2:before {
  content: "\ebf5";
}
.icon-ampersand:before {
  content: "\ebf6";
}
.icon-compass4:before {
  content: "\ebf7";
}
.icon-list5:before {
  content: "\ebf8";
}
.icon-grid1:before {
  content: "\ebf9";
}
.icon-volume:before {
  content: "\ebfa";
}
.icon-volume1:before {
  content: "\ebfb";
}
.icon-stats:before {
  content: "\ebfc";
}
.icon-target3:before {
  content: "\ebfd";
}
.icon-forward6:before {
  content: "\ebfe";
}
.icon-paperclip1:before {
  content: "\ebff";
}
.icon-keyboard3:before {
  content: "\ec00";
}
.icon-crop2:before {
  content: "\ec01";
}
.icon-floppy:before {
  content: "\ec02";
}
.icon-filter3:before {
  content: "\ec03";
}
.icon-trophy4:before {
  content: "\ec04";
}
.icon-diary:before {
  content: "\ec05";
}
.icon-addressbook:before {
  content: "\ec06";
}
.icon-stop3:before {
  content: "\ec07";
}
.icon-smiley:before {
  content: "\ec08";
}
.icon-shit:before {
  content: "\ec09";
}
.icon-bookmark5:before {
  content: "\ec0a";
}
.icon-camera5:before {
  content: "\ec0b";
}
.icon-lamp:before {
  content: "\ec0c";
}
.icon-disk:before {
  content: "\ec0d";
}
.icon-button:before {
  content: "\ec0e";
}
.icon-database3:before {
  content: "\ec0f";
}
.icon-creditcard:before {
  content: "\ec10";
}
.icon-atom:before {
  content: "\ec11";
}
.icon-winsows:before {
  content: "\ec12";
}
.icon-target4:before {
  content: "\ec13";
}
.icon-battery2:before {
  content: "\ec14";
}
.icon-code3:before {
  content: "\ec15";
}
.icon-home1:before {
  content: "\ec16";
}
.icon-home2:before {
  content: "\ec17";
}
.icon-home3:before {
  content: "\ec18";
}
.icon-office:before {
  content: "\ec19";
}
.icon-newspaper:before {
  content: "\ec1a";
}
.icon-pencil1:before {
  content: "\ec1b";
}
.icon-pencil2:before {
  content: "\ec1c";
}
.icon-quill:before {
  content: "\ec1d";
}
.icon-pen:before {
  content: "\ec1e";
}
.icon-blog:before {
  content: "\ec1f";
}
.icon-eyedropper1:before {
  content: "\ec20";
}
.icon-droplet:before {
  content: "\ec21";
}
.icon-paint-format:before {
  content: "\ec22";
}
.icon-image1:before {
  content: "\ec23";
}
.icon-images:before {
  content: "\ec24";
}
.icon-camera1:before {
  content: "\ec25";
}
.icon-headphones1:before {
  content: "\ec26";
}
.icon-music1:before {
  content: "\ec27";
}
.icon-play1:before {
  content: "\ec28";
}
.icon-film1:before {
  content: "\ec29";
}
.icon-video-camera1:before {
  content: "\ec2a";
}
.icon-dice:before {
  content: "\ec2b";
}
.icon-pacman:before {
  content: "\ec2c";
}
.icon-spades:before {
  content: "\ec2d";
}
.icon-clubs:before {
  content: "\ec2e";
}
.icon-diamonds:before {
  content: "\ec2f";
}
.icon-bullhorn1:before {
  content: "\ec30";
}
.icon-connection:before {
  content: "\ec31";
}
.icon-podcast1:before {
  content: "\ec32";
}
.icon-feed1:before {
  content: "\ec33";
}
.icon-mic:before {
  content: "\ec34";
}
.icon-book1:before {
  content: "\ec35";
}
.icon-books:before {
  content: "\ec36";
}
.icon-library:before {
  content: "\ec37";
}
.icon-file-text1:before {
  content: "\ec38";
}
.icon-profile:before {
  content: "\ec39";
}
.icon-file-empty:before {
  content: "\ec3a";
}
.icon-files-empty:before {
  content: "\ec3b";
}
.icon-file-text2:before {
  content: "\ec3c";
}
.icon-file-picture:before {
  content: "\ec3d";
}
.icon-file-music:before {
  content: "\ec3e";
}
.icon-file-play:before {
  content: "\ec3f";
}
.icon-file-video:before {
  content: "\ec40";
}
.icon-file-zip:before {
  content: "\ec41";
}
.icon-copy1:before {
  content: "\ec42";
}
.icon-paste1:before {
  content: "\ec43";
}
.icon-stack:before {
  content: "\ec44";
}
.icon-folder1:before {
  content: "\ec45";
}
.icon-folder-open1:before {
  content: "\ec46";
}
.icon-folder-plus:before {
  content: "\ec47";
}
.icon-folder-minus:before {
  content: "\ec48";
}
.icon-folder-download:before {
  content: "\ec49";
}
.icon-folder-upload:before {
  content: "\ec4a";
}
.icon-price-tag:before {
  content: "\ec4b";
}
.icon-price-tags:before {
  content: "\ec4c";
}
.icon-barcode1:before {
  content: "\ec4d";
}
.icon-qrcode1:before {
  content: "\ec4e";
}
.icon-ticket1:before {
  content: "\ec4f";
}
.icon-cart:before {
  content: "\ec50";
}
.icon-coin-dollar:before {
  content: "\ec51";
}
.icon-coin-euro:before {
  content: "\ec52";
}
.icon-coin-pound:before {
  content: "\ec53";
}
.icon-coin-yen:before {
  content: "\ec54";
}
.icon-credit-card1:before {
  content: "\ec55";
}
.icon-calculator1:before {
  content: "\ec56";
}
.icon-lifebuoy:before {
  content: "\ec57";
}
.icon-phone1:before {
  content: "\ec58";
}
.icon-phone-hang-up:before {
  content: "\ec59";
}
.icon-address-book1:before {
  content: "\ec5a";
}
.icon-envelop:before {
  content: "\ec5b";
}
.icon-pushpin:before {
  content: "\ec5c";
}
.icon-location:before {
  content: "\ec5d";
}
.icon-location2:before {
  content: "\ec5e";
}
.icon-compass1:before {
  content: "\ec5f";
}
.icon-compass2:before {
  content: "\ec60";
}
.icon-map1:before {
  content: "\ec61";
}
.icon-map2:before {
  content: "\ec62";
}
.icon-history1:before {
  content: "\ec63";
}
.icon-clock:before {
  content: "\ec64";
}
.icon-clock2:before {
  content: "\ec65";
}
.icon-alarm:before {
  content: "\ec66";
}
.icon-bell1:before {
  content: "\ec67";
}
.icon-stopwatch:before {
  content: "\ec68";
}
.icon-calendar1:before {
  content: "\ec69";
}
.icon-printer:before {
  content: "\ec6a";
}
.icon-keyboard:before {
  content: "\ec6b";
}
.icon-display:before {
  content: "\ec6c";
}
.icon-laptop1:before {
  content: "\ec6d";
}
.icon-mobile1:before {
  content: "\ec6e";
}
.icon-mobile2:before {
  content: "\ec6f";
}
.icon-tablet1:before {
  content: "\ec70";
}
.icon-tv1:before {
  content: "\ec71";
}
.icon-drawer:before {
  content: "\ec72";
}
.icon-drawer2:before {
  content: "\ec73";
}
.icon-box-add:before {
  content: "\ec74";
}
.icon-box-remove:before {
  content: "\ec75";
}
.icon-download1:before {
  content: "\ec76";
}
.icon-upload1:before {
  content: "\ec77";
}
.icon-floppy-disk:before {
  content: "\ec78";
}
.icon-drive:before {
  content: "\ec79";
}
.icon-database1:before {
  content: "\ec7a";
}
.icon-undo1:before {
  content: "\ec7b";
}
.icon-redo:before {
  content: "\ec7c";
}
.icon-undo2:before {
  content: "\ec7d";
}
.icon-redo2:before {
  content: "\ec7e";
}
.icon-forward1:before {
  content: "\ec7f";
}
.icon-reply1:before {
  content: "\ec80";
}
.icon-bubble:before {
  content: "\ec81";
}
.icon-bubbles:before {
  content: "\ec82";
}
.icon-bubbles2:before {
  content: "\ec83";
}
.icon-bubble2:before {
  content: "\ec84";
}
.icon-bubbles3:before {
  content: "\ec85";
}
.icon-bubbles4:before {
  content: "\ec86";
}
.icon-user1:before {
  content: "\ec87";
}
.icon-users1:before {
  content: "\ec88";
}
.icon-user-plus1:before {
  content: "\ec89";
}
.icon-user-minus:before {
  content: "\ec8a";
}
.icon-user-check:before {
  content: "\ec8b";
}
.icon-user-tie:before {
  content: "\ec8c";
}
.icon-quotes-left:before {
  content: "\ec8d";
}
.icon-quotes-right:before {
  content: "\ec8e";
}
.icon-hour-glass:before {
  content: "\ec8f";
}
.icon-spinner1:before {
  content: "\ec90";
}
.icon-spinner2:before {
  content: "\ec91";
}
.icon-spinner3:before {
  content: "\ec92";
}
.icon-spinner4:before {
  content: "\ec93";
}
.icon-spinner5:before {
  content: "\ec94";
}
.icon-spinner6:before {
  content: "\ec95";
}
.icon-spinner7:before {
  content: "\ec96";
}
.icon-spinner8:before {
  content: "\ec97";
}
.icon-spinner9:before {
  content: "\ec98";
}
.icon-spinner10:before {
  content: "\ec99";
}
.icon-spinner11:before {
  content: "\ec9a";
}
.icon-binoculars1:before {
  content: "\ec9b";
}
.icon-search1:before {
  content: "\ec9c";
}
.icon-zoom-in:before {
  content: "\ec9d";
}
.icon-zoom-out:before {
  content: "\ec9e";
}
.icon-enlarge:before {
  content: "\ec9f";
}
.icon-shrink:before {
  content: "\eca0";
}
.icon-enlarge2:before {
  content: "\eca1";
}
.icon-shrink2:before {
  content: "\eca2";
}
.icon-key1:before {
  content: "\eca3";
}
.icon-key2:before {
  content: "\eca4";
}
.icon-lock1:before {
  content: "\eca5";
}
.icon-unlocked:before {
  content: "\eca6";
}
.icon-wrench1:before {
  content: "\eca7";
}
.icon-equalizer:before {
  content: "\eca8";
}
.icon-equalizer2:before {
  content: "\eca9";
}
.icon-cog1:before {
  content: "\ecaa";
}
.icon-cogs1:before {
  content: "\ecab";
}
.icon-hammer:before {
  content: "\ecac";
}
.icon-magic-wand:before {
  content: "\ecad";
}
.icon-aid-kit:before {
  content: "\ecae";
}
.icon-bug1:before {
  content: "\ecaf";
}
.icon-pie-chart1:before {
  content: "\ecb0";
}
.icon-stats-dots:before {
  content: "\ecb1";
}
.icon-stats-bars:before {
  content: "\ecb2";
}
.icon-stats-bars2:before {
  content: "\ecb3";
}
.icon-trophy1:before {
  content: "\ecb4";
}
.icon-gift1:before {
  content: "\ecb5";
}
.icon-glass1:before {
  content: "\ecb6";
}
.icon-glass2:before {
  content: "\ecb7";
}
.icon-mug:before {
  content: "\ecb8";
}
.icon-spoon-knife:before {
  content: "\ecb9";
}
.icon-leaf1:before {
  content: "\ecba";
}
.icon-rocket1:before {
  content: "\ecbb";
}
.icon-meter:before {
  content: "\ecbc";
}
.icon-meter2:before {
  content: "\ecbd";
}
.icon-hammer2:before {
  content: "\ecbe";
}
.icon-fire1:before {
  content: "\ecbf";
}
.icon-lab:before {
  content: "\ecc0";
}
.icon-magnet1:before {
  content: "\ecc1";
}
.icon-bin:before {
  content: "\ecc2";
}
.icon-bin2:before {
  content: "\ecc3";
}
.icon-briefcase1:before {
  content: "\ecc4";
}
.icon-airplane:before {
  content: "\ecc5";
}
.icon-truck1:before {
  content: "\ecc6";
}
.icon-road1:before {
  content: "\ecc7";
}
.icon-accessibility:before {
  content: "\ecc8";
}
.icon-target:before {
  content: "\ecc9";
}
.icon-shield1:before {
  content: "\ecca";
}
.icon-power:before {
  content: "\eccb";
}
.icon-switch:before {
  content: "\eccc";
}
.icon-power-cord:before {
  content: "\eccd";
}
.icon-clipboard1:before {
  content: "\ecce";
}
.icon-list-numbered:before {
  content: "\eccf";
}
.icon-list1:before {
  content: "\ecd0";
}
.icon-list2:before {
  content: "\ecd1";
}
.icon-tree1:before {
  content: "\ecd2";
}
.icon-menu:before {
  content: "\ecd3";
}
.icon-menu2:before {
  content: "\ecd4";
}
.icon-menu3:before {
  content: "\ecd5";
}
.icon-menu4:before {
  content: "\ecd6";
}
.icon-cloud1:before {
  content: "\ecd7";
}
.icon-cloud-download1:before {
  content: "\ecd8";
}
.icon-cloud-upload1:before {
  content: "\ecd9";
}
.icon-cloud-check:before {
  content: "\ecda";
}
.icon-download2:before {
  content: "\ecdb";
}
.icon-upload2:before {
  content: "\ecdc";
}
.icon-download3:before {
  content: "\ecdd";
}
.icon-upload3:before {
  content: "\ecde";
}
.icon-sphere:before {
  content: "\ecdf";
}
.icon-earth:before {
  content: "\ece0";
}
.icon-link1:before {
  content: "\ece1";
}
.icon-flag1:before {
  content: "\ece2";
}
.icon-attachment:before {
  content: "\ece3";
}
.icon-eye1:before {
  content: "\ece4";
}
.icon-eye-plus:before {
  content: "\ece5";
}
.icon-eye-minus:before {
  content: "\ece6";
}
.icon-eye-blocked:before {
  content: "\ece7";
}
.icon-bookmark1:before {
  content: "\ece8";
}
.icon-bookmarks:before {
  content: "\ece9";
}
.icon-sun:before {
  content: "\ecea";
}
.icon-contrast:before {
  content: "\eceb";
}
.icon-brightness-contrast:before {
  content: "\ecec";
}
.icon-star-empty:before {
  content: "\eced";
}
.icon-star-half1:before {
  content: "\ecee";
}
.icon-star-full:before {
  content: "\ecef";
}
.icon-heart1:before {
  content: "\ecf0";
}
.icon-heart-broken:before {
  content: "\ecf1";
}
.icon-man:before {
  content: "\ecf2";
}
.icon-woman:before {
  content: "\ecf3";
}
.icon-man-woman:before {
  content: "\ecf4";
}
.icon-happy:before {
  content: "\ecf5";
}
.icon-happy2:before {
  content: "\ecf6";
}
.icon-smile:before {
  content: "\ecf7";
}
.icon-smile2:before {
  content: "\ecf8";
}
.icon-tongue:before {
  content: "\ecf9";
}
.icon-tongue2:before {
  content: "\ecfa";
}
.icon-sad:before {
  content: "\ecfb";
}
.icon-sad2:before {
  content: "\ecfc";
}
.icon-wink:before {
  content: "\ecfd";
}
.icon-wink2:before {
  content: "\ecfe";
}
.icon-grin:before {
  content: "\ecff";
}
.icon-grin2:before {
  content: "\ed00";
}
.icon-cool:before {
  content: "\ed01";
}
.icon-cool2:before {
  content: "\ed02";
}
.icon-angry:before {
  content: "\ed03";
}
.icon-angry2:before {
  content: "\ed04";
}
.icon-evil:before {
  content: "\ed05";
}
.icon-evil2:before {
  content: "\ed06";
}
.icon-shocked:before {
  content: "\ed07";
}
.icon-shocked2:before {
  content: "\ed08";
}
.icon-baffled:before {
  content: "\ed09";
}
.icon-baffled2:before {
  content: "\ed0a";
}
.icon-confused:before {
  content: "\ed0b";
}
.icon-confused2:before {
  content: "\ed0c";
}
.icon-neutral:before {
  content: "\ed0d";
}
.icon-neutral2:before {
  content: "\ed0e";
}
.icon-hipster:before {
  content: "\ed0f";
}
.icon-hipster2:before {
  content: "\ed10";
}
.icon-wondering:before {
  content: "\ed11";
}
.icon-wondering2:before {
  content: "\ed12";
}
.icon-sleepy:before {
  content: "\ed13";
}
.icon-sleepy2:before {
  content: "\ed14";
}
.icon-frustrated:before {
  content: "\ed15";
}
.icon-frustrated2:before {
  content: "\ed16";
}
.icon-crying:before {
  content: "\ed17";
}
.icon-crying2:before {
  content: "\ed18";
}
.icon-point-up:before {
  content: "\ed19";
}
.icon-point-right:before {
  content: "\ed1a";
}
.icon-point-down:before {
  content: "\ed1b";
}
.icon-point-left:before {
  content: "\ed1c";
}
.icon-warning1:before {
  content: "\ed1d";
}
.icon-notification:before {
  content: "\ed1e";
}
.icon-question1:before {
  content: "\ed1f";
}
.icon-plus1:before {
  content: "\ed20";
}
.icon-minus1:before {
  content: "\ed21";
}
.icon-info1:before {
  content: "\ed22";
}
.icon-cancel-circle:before {
  content: "\ed23";
}
.icon-blocked:before {
  content: "\ed24";
}
.icon-cross:before {
  content: "\ed25";
}
.icon-checkmark:before {
  content: "\ed26";
}
.icon-checkmark2:before {
  content: "\ed27";
}
.icon-spell-check:before {
  content: "\ed28";
}
.icon-enter:before {
  content: "\ed29";
}
.icon-exit:before {
  content: "\ed2a";
}
.icon-play2:before {
  content: "\ed2b";
}
.icon-pause1:before {
  content: "\ed2c";
}
.icon-stop1:before {
  content: "\ed2d";
}
.icon-previous:before {
  content: "\ed2e";
}
.icon-next:before {
  content: "\ed2f";
}
.icon-backward1:before {
  content: "\ed30";
}
.icon-forward2:before {
  content: "\ed31";
}
.icon-play3:before {
  content: "\ed32";
}
.icon-pause2:before {
  content: "\ed33";
}
.icon-stop2:before {
  content: "\ed34";
}
.icon-backward2:before {
  content: "\ed35";
}
.icon-forward3:before {
  content: "\ed36";
}
.icon-first:before {
  content: "\ed37";
}
.icon-last:before {
  content: "\ed38";
}
.icon-previous2:before {
  content: "\ed39";
}
.icon-next2:before {
  content: "\ed3a";
}
.icon-eject1:before {
  content: "\ed3b";
}
.icon-volume-high:before {
  content: "\ed3c";
}
.icon-volume-medium:before {
  content: "\ed3d";
}
.icon-volume-low:before {
  content: "\ed3e";
}
.icon-volume-mute:before {
  content: "\ed3f";
}
.icon-volume-mute2:before {
  content: "\ed40";
}
.icon-volume-increase:before {
  content: "\ed41";
}
.icon-volume-decrease:before {
  content: "\ed42";
}
.icon-loop:before {
  content: "\ed43";
}
.icon-loop2:before {
  content: "\ed44";
}
.icon-infinite:before {
  content: "\ed45";
}
.icon-shuffle:before {
  content: "\ed46";
}
.icon-arrow-up-left:before {
  content: "\ed47";
}
.icon-arrow-up1:before {
  content: "\ed48";
}
.icon-arrow-up-right:before {
  content: "\ed49";
}
.icon-arrow-right1:before {
  content: "\ed4a";
}
.icon-arrow-down-right:before {
  content: "\ed4b";
}
.icon-arrow-down1:before {
  content: "\ed4c";
}
.icon-arrow-down-left:before {
  content: "\ed4d";
}
.icon-arrow-left1:before {
  content: "\ed4e";
}
.icon-arrow-up-left2:before {
  content: "\ed4f";
}
.icon-arrow-up2:before {
  content: "\ed50";
}
.icon-arrow-up-right2:before {
  content: "\ed51";
}
.icon-arrow-right2:before {
  content: "\ed52";
}
.icon-arrow-down-right2:before {
  content: "\ed53";
}
.icon-arrow-down2:before {
  content: "\ed54";
}
.icon-arrow-down-left2:before {
  content: "\ed55";
}
.icon-arrow-left2:before {
  content: "\ed56";
}
.icon-circle-up:before {
  content: "\ed57";
}
.icon-circle-right:before {
  content: "\ed58";
}
.icon-circle-down:before {
  content: "\ed59";
}
.icon-circle-left:before {
  content: "\ed5a";
}
.icon-tab:before {
  content: "\ed5b";
}
.icon-move-up:before {
  content: "\ed5c";
}
.icon-move-down:before {
  content: "\ed5d";
}
.icon-sort-alpha-asc1:before {
  content: "\ed5e";
}
.icon-sort-alpha-desc1:before {
  content: "\ed5f";
}
.icon-sort-numeric-asc1:before {
  content: "\ed60";
}
.icon-sort-numberic-desc:before {
  content: "\ed61";
}
.icon-sort-amount-asc1:before {
  content: "\ed62";
}
.icon-sort-amount-desc1:before {
  content: "\ed63";
}
.icon-command:before {
  content: "\ed64";
}
.icon-shift:before {
  content: "\ed65";
}
.icon-ctrl:before {
  content: "\ed66";
}
.icon-opt:before {
  content: "\ed67";
}
.icon-checkbox-checked:before {
  content: "\ed68";
}
.icon-checkbox-unchecked:before {
  content: "\ed69";
}
.icon-radio-checked:before {
  content: "\ed6a";
}
.icon-radio-checked2:before {
  content: "\ed6b";
}
.icon-radio-unchecked:before {
  content: "\ed6c";
}
.icon-crop1:before {
  content: "\ed6d";
}
.icon-make-group:before {
  content: "\ed6e";
}
.icon-ungroup:before {
  content: "\ed6f";
}
.icon-scissors1:before {
  content: "\ed70";
}
.icon-filter1:before {
  content: "\ed71";
}
.icon-font1:before {
  content: "\ed72";
}
.icon-ligature:before {
  content: "\ed73";
}
.icon-ligature2:before {
  content: "\ed74";
}
.icon-text-height1:before {
  content: "\ed75";
}
.icon-text-width1:before {
  content: "\ed76";
}
.icon-font-size:before {
  content: "\ed77";
}
.icon-bold1:before {
  content: "\ed78";
}
.icon-underline1:before {
  content: "\ed79";
}
.icon-italic1:before {
  content: "\ed7a";
}
.icon-strikethrough1:before {
  content: "\ed7b";
}
.icon-omega:before {
  content: "\ed7c";
}
.icon-sigma:before {
  content: "\ed7d";
}
.icon-page-break:before {
  content: "\ed7e";
}
.icon-superscript1:before {
  content: "\ed7f";
}
.icon-subscript1:before {
  content: "\ed80";
}
.icon-superscript2:before {
  content: "\ed81";
}
.icon-subscript2:before {
  content: "\ed82";
}
.icon-text-color:before {
  content: "\ed83";
}
.icon-pagebreak:before {
  content: "\ed84";
}
.icon-clear-formatting:before {
  content: "\ed85";
}
.icon-table1:before {
  content: "\ed86";
}
.icon-table2:before {
  content: "\ed87";
}
.icon-insert-template:before {
  content: "\ed88";
}
.icon-pilcrow:before {
  content: "\ed89";
}
.icon-ltr:before {
  content: "\ed8a";
}
.icon-rtl:before {
  content: "\ed8b";
}
.icon-section:before {
  content: "\ed8c";
}
.icon-paragraph-left:before {
  content: "\ed8d";
}
.icon-paragraph-center:before {
  content: "\ed8e";
}
.icon-paragraph-right:before {
  content: "\ed8f";
}
.icon-paragraph-justify:before {
  content: "\ed90";
}
.icon-indent-increase:before {
  content: "\ed91";
}
.icon-indent-decrease:before {
  content: "\ed92";
}
.icon-share1:before {
  content: "\ed93";
}
.icon-new-tab:before {
  content: "\ed94";
}
.icon-embed:before {
  content: "\ed95";
}
.icon-embed2:before {
  content: "\ed96";
}
.icon-terminal1:before {
  content: "\ed97";
}
.icon-share2:before {
  content: "\ed98";
}
.icon-mail:before {
  content: "\ed99";
}
.icon-mail2:before {
  content: "\ed9a";
}
.icon-mail3:before {
  content: "\ed9b";
}
.icon-mail4:before {
  content: "\ed9c";
}
.icon-amazon1:before {
  content: "\ed9d";
}
.icon-google1:before {
  content: "\ed9e";
}
.icon-google2:before {
  content: "\ed9f";
}
.icon-google3:before {
  content: "\eda0";
}
.icon-google-plus1:before {
  content: "\eda1";
}
.icon-google-plus2:before {
  content: "\eda2";
}
.icon-google-plus3:before {
  content: "\eda3";
}
.icon-hangouts:before {
  content: "\eda4";
}
.icon-google-drive:before {
  content: "\eda5";
}
.icon-facebook1:before {
  content: "\eda6";
}
.icon-facebook2:before {
  content: "\eda7";
}
.icon-instagram1:before {
  content: "\eda8";
}
.icon-whatsapp1:before {
  content: "\eda9";
}
.icon-spotify1:before {
  content: "\edaa";
}
.icon-telegram1:before {
  content: "\edab";
}
.icon-twitter1:before {
  content: "\edac";
}
.icon-vine1:before {
  content: "\edad";
}
.icon-vk1:before {
  content: "\edae";
}
.icon-renren1:before {
  content: "\edaf";
}
.icon-sina-weibo:before {
  content: "\edb0";
}
.icon-rss1:before {
  content: "\edb1";
}
.icon-rss2:before {
  content: "\edb2";
}
.icon-youtube1:before {
  content: "\edb3";
}
.icon-youtube2:before {
  content: "\edb4";
}
.icon-twitch1:before {
  content: "\edb5";
}
.icon-vimeo1:before {
  content: "\edb6";
}
.icon-vimeo2:before {
  content: "\edb7";
}
.icon-lanyrd:before {
  content: "\edb8";
}
.icon-flickr1:before {
  content: "\edb9";
}
.icon-flickr2:before {
  content: "\edba";
}
.icon-flickr3:before {
  content: "\edbb";
}
.icon-flickr4:before {
  content: "\edbc";
}
.icon-dribbble1:before {
  content: "\edbd";
}
.icon-behance1:before {
  content: "\edbe";
}
.icon-behance2:before {
  content: "\edbf";
}
.icon-deviantart1:before {
  content: "\edc0";
}
.icon-500px1:before {
  content: "\edc1";
}
.icon-steam1:before {
  content: "\edc2";
}
.icon-steam2:before {
  content: "\edc3";
}
.icon-dropbox1:before {
  content: "\edc4";
}
.icon-onedrive:before {
  content: "\edc5";
}
.icon-github1:before {
  content: "\edc6";
}
.icon-npm:before {
  content: "\edc7";
}
.icon-basecamp:before {
  content: "\edc8";
}
.icon-trello1:before {
  content: "\edc9";
}
.icon-wordpress1:before {
  content: "\edca";
}
.icon-joomla1:before {
  content: "\edcb";
}
.icon-ello:before {
  content: "\edcc";
}
.icon-blogger:before {
  content: "\edcd";
}
.icon-blogger2:before {
  content: "\edce";
}
.icon-tumblr1:before {
  content: "\edcf";
}
.icon-tumblr2:before {
  content: "\edd0";
}
.icon-yahoo1:before {
  content: "\edd1";
}
.icon-yahoo2:before {
  content: "\edd2";
}
.icon-tux:before {
  content: "\edd3";
}
.icon-appleinc:before {
  content: "\edd4";
}
.icon-finder:before {
  content: "\edd5";
}
.icon-android1:before {
  content: "\edd6";
}
.icon-windows1:before {
  content: "\edd7";
}
.icon-windows8:before {
  content: "\edd8";
}
.icon-soundcloud1:before {
  content: "\edd9";
}
.icon-soundcloud2:before {
  content: "\edda";
}
.icon-skype1:before {
  content: "\eddb";
}
.icon-reddit1:before {
  content: "\eddc";
}
.icon-hackernews:before {
  content: "\eddd";
}
.icon-wikipedia:before {
  content: "\edde";
}
.icon-linkedin1:before {
  content: "\eddf";
}
.icon-linkedin2:before {
  content: "\ede0";
}
.icon-lastfm1:before {
  content: "\ede1";
}
.icon-lastfm2:before {
  content: "\ede2";
}
.icon-delicious1:before {
  content: "\ede3";
}
.icon-stumbleupon1:before {
  content: "\ede4";
}
.icon-stumbleupon2:before {
  content: "\ede5";
}
.icon-stackoverflow:before {
  content: "\ede6";
}
.icon-pinterest1:before {
  content: "\ede7";
}
.icon-pinterest2:before {
  content: "\ede8";
}
.icon-xing1:before {
  content: "\ede9";
}
.icon-xing2:before {
  content: "\edea";
}
.icon-flattr:before {
  content: "\edeb";
}
.icon-foursquare1:before {
  content: "\edec";
}
.icon-yelp1:before {
  content: "\eded";
}
.icon-paypal1:before {
  content: "\edee";
}
.icon-chrome1:before {
  content: "\edef";
}
.icon-firefox1:before {
  content: "\edf0";
}
.icon-IE:before {
  content: "\edf1";
}
.icon-edge1:before {
  content: "\edf2";
}
.icon-safari1:before {
  content: "\edf3";
}
.icon-opera1:before {
  content: "\edf4";
}
.icon-file-pdf:before {
  content: "\edf5";
}
.icon-file-openoffice:before {
  content: "\edf6";
}
.icon-file-word:before {
  content: "\edf7";
}
.icon-file-excel:before {
  content: "\edf8";
}
.icon-libreoffice:before {
  content: "\edf9";
}
.icon-html-five:before {
  content: "\edfa";
}
.icon-html-five2:before {
  content: "\edfb";
}
.icon-css31:before {
  content: "\edfc";
}
.icon-git1:before {
  content: "\edfd";
}
.icon-codepen1:before {
  content: "\edfe";
}
.icon-svg:before {
  content: "\edff";
}
.icon-IcoMoon:before {
  content: "\ee00";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-plus:before {
  content: "\f067";
}
.icon-question:before {
  content: "\f128";
}
.icon-minus:before {
  content: "\f068";
}
.icon-glass:before {
  content: "\f000";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-film:before {
  content: "\f008";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-search-plus:before {
  content: "\f00e";
}
.icon-search-minus:before {
  content: "\f010";
}
.icon-power-off:before {
  content: "\f011";
}
.icon-signal:before {
  content: "\f012";
}
.icon-cog:before {
  content: "\f013";
}
.icon-gear:before {
  content: "\f013";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-file-o:before {
  content: "\f016";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-road:before {
  content: "\f018";
}
.icon-download:before {
  content: "\f019";
}
.icon-arrow-circle-o-down:before {
  content: "\f01a";
}
.icon-arrow-circle-o-up:before {
  content: "\f01b";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-play-circle-o:before {
  content: "\f01d";
}
.icon-repeat:before {
  content: "\f01e";
}
.icon-rotate-right:before {
  content: "\f01e";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-lock:before {
  content: "\f023";
}
.icon-flag:before {
  content: "\f024";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-book:before {
  content: "\f02d";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-print:before {
  content: "\f02f";
}
.icon-camera:before {
  content: "\f030";
}
.icon-font:before {
  content: "\f031";
}
.icon-bold:before {
  content: "\f032";
}
.icon-italic:before {
  content: "\f033";
}
.icon-text-height:before {
  content: "\f034";
}
.icon-text-width:before {
  content: "\f035";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-align-center:before {
  content: "\f037";
}
.icon-align-right:before {
  content: "\f038";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-list:before {
  content: "\f03a";
}
.icon-dedent:before {
  content: "\f03b";
}
.icon-outdent:before {
  content: "\f03b";
}
.icon-indent:before {
  content: "\f03c";
}
.icon-video-camera:before {
  content: "\f03d";
}
.icon-image:before {
  content: "\f03e";
}
.icon-photo:before {
  content: "\f03e";
}
.icon-picture-o:before {
  content: "\f03e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-adjust:before {
  content: "\f042";
}
.icon-tint:before {
  content: "\f043";
}
.icon-edit:before {
  content: "\f044";
}
.icon-pencil-square-o:before {
  content: "\f044";
}
.icon-share-square-o:before {
  content: "\f045";
}
.icon-check-square-o:before {
  content: "\f046";
}
.icon-arrows:before {
  content: "\f047";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-eject:before {
  content: "\f052";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-circle:before {
  content: "\f055";
}
.icon-minus-circle:before {
  content: "\f056";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-question-circle:before {
  content: "\f059";
}
.icon-info-circle:before {
  content: "\f05a";
}
.icon-crosshairs:before {
  content: "\f05b";
}
.icon-times-circle-o:before {
  content: "\f05c";
}
.icon-check-circle-o:before {
  content: "\f05d";
}
.icon-ban:before {
  content: "\f05e";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-mail-forward:before {
  content: "\f064";
}
.icon-share:before {
  content: "\f064";
}
.icon-expand:before {
  content: "\f065";
}
.icon-compress:before {
  content: "\f066";
}
.icon-exclamation-circle:before {
  content: "\f06a";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-eye-slash:before {
  content: "\f070";
}
.icon-exclamation-triangle:before {
  content: "\f071";
}
.icon-warning:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-random:before {
  content: "\f074";
}
.icon-comment:before {
  content: "\f075";
}
.icon-magnet:before {
  content: "\f076";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-retweet:before {
  content: "\f079";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-folder:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-arrows-v:before {
  content: "\f07d";
}
.icon-arrows-h:before {
  content: "\f07e";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-bar-chart-o:before {
  content: "\f080";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-key:before {
  content: "\f084";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-gears:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-thumbs-o-down:before {
  content: "\f088";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-sign-out:before {
  content: "\f08b";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-thumb-tack:before {
  content: "\f08d";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-sign-in:before {
  content: "\f090";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-github-square:before {
  content: "\f092";
}
.icon-upload:before {
  content: "\f093";
}
.icon-lemon-o:before {
  content: "\f094";
}
.icon-phone:before {
  content: "\f095";
}
.icon-square-o:before {
  content: "\f096";
}
.icon-bookmark-o:before {
  content: "\f097";
}
.icon-phone-square:before {
  content: "\f098";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-feed:before {
  content: "\f09e";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-hdd-o:before {
  content: "\f0a0";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-bell-o:before {
  content: "\f0a2";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-hand-o-right:before {
  content: "\f0a4";
}
.icon-hand-o-left:before {
  content: "\f0a5";
}
.icon-hand-o-up:before {
  content: "\f0a6";
}
.icon-hand-o-down:before {
  content: "\f0a7";
}
.icon-arrow-circle-left:before {
  content: "\f0a8";
}
.icon-arrow-circle-right:before {
  content: "\f0a9";
}
.icon-arrow-circle-up:before {
  content: "\f0aa";
}
.icon-arrow-circle-down:before {
  content: "\f0ab";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-tasks:before {
  content: "\f0ae";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-arrows-alt:before {
  content: "\f0b2";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-chain:before {
  content: "\f0c1";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-flask:before {
  content: "\f0c3";
}
.icon-cut:before {
  content: "\f0c4";
}
.icon-scissors:before {
  content: "\f0c4";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-files-o:before {
  content: "\f0c5";
}
.icon-paperclip:before {
  content: "\f0c6";
}
.icon-floppy-o:before {
  content: "\f0c7";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-square:before {
  content: "\f0c8";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-strikethrough:before {
  content: "\f0cc";
}
.icon-underline:before {
  content: "\f0cd";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-pinterest-square:before {
  content: "\f0d3";
}
.icon-google-plus-square:before {
  content: "\f0d4";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-columns:before {
  content: "\f0db";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-unsorted:before {
  content: "\f0dc";
}
.icon-sort-desc:before {
  content: "\f0dd";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-asc:before {
  content: "\f0de";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-rotate-left:before {
  content: "\f0e2";
}
.icon-undo:before {
  content: "\f0e2";
}
.icon-gavel:before {
  content: "\f0e3";
}
.icon-legal:before {
  content: "\f0e3";
}
.icon-dashboard:before {
  content: "\f0e4";
}
.icon-tachometer:before {
  content: "\f0e4";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-flash:before {
  content: "\f0e7";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-umbrella:before {
  content: "\f0e9";
}
.icon-clipboard:before {
  content: "\f0ea";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-lightbulb-o:before {
  content: "\f0eb";
}
.icon-exchange:before {
  content: "\f0ec";
}
.icon-cloud-download:before {
  content: "\f0ed";
}
.icon-cloud-upload:before {
  content: "\f0ee";
}
.icon-user-md:before {
  content: "\f0f0";
}
.icon-stethoscope:before {
  content: "\f0f1";
}
.icon-suitcase:before {
  content: "\f0f2";
}
.icon-bell:before {
  content: "\f0f3";
}
.icon-coffee:before {
  content: "\f0f4";
}
.icon-cutlery:before {
  content: "\f0f5";
}
.icon-file-text-o:before {
  content: "\f0f6";
}
.icon-building-o:before {
  content: "\f0f7";
}
.icon-hospital-o:before {
  content: "\f0f8";
}
.icon-ambulance:before {
  content: "\f0f9";
}
.icon-medkit:before {
  content: "\f0fa";
}
.icon-fighter-jet:before {
  content: "\f0fb";
}
.icon-beer:before {
  content: "\f0fc";
}
.icon-h-square:before {
  content: "\f0fd";
}
.icon-plus-square:before {
  content: "\f0fe";
}
.icon-angle-double-left:before {
  content: "\f100";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-double-up:before {
  content: "\f102";
}
.icon-angle-double-down:before {
  content: "\f103";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-tablet:before {
  content: "\f10a";
}
.icon-mobile:before {
  content: "\f10b";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-circle-o:before {
  content: "\f10c";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-spinner:before {
  content: "\f110";
}
.icon-circle:before {
  content: "\f111";
}
.icon-mail-reply:before {
  content: "\f112";
}
.icon-reply:before {
  content: "\f112";
}
.icon-github-alt:before {
  content: "\f113";
}
.icon-folder-o:before {
  content: "\f114";
}
.icon-folder-open-o:before {
  content: "\f115";
}
.icon-smile-o:before {
  content: "\f118";
}
.icon-frown-o:before {
  content: "\f119";
}
.icon-meh-o:before {
  content: "\f11a";
}
.icon-gamepad:before {
  content: "\f11b";
}
.icon-keyboard-o:before {
  content: "\f11c";
}
.icon-flag-o:before {
  content: "\f11d";
}
.icon-flag-checkered:before {
  content: "\f11e";
}
.icon-terminal:before {
  content: "\f120";
}
.icon-code:before {
  content: "\f121";
}
.icon-mail-reply-all:before {
  content: "\f122";
}
.icon-reply-all:before {
  content: "\f122";
}
.icon-star-half-empty:before {
  content: "\f123";
}
.icon-star-half-full:before {
  content: "\f123";
}
.icon-star-half-o:before {
  content: "\f123";
}
.icon-location-arrow:before {
  content: "\f124";
}
.icon-crop:before {
  content: "\f125";
}
.icon-code-fork:before {
  content: "\f126";
}
.icon-chain-broken:before {
  content: "\f127";
}
.icon-unlink:before {
  content: "\f127";
}
.icon-info:before {
  content: "\f129";
}
.icon-exclamation:before {
  content: "\f12a";
}
.icon-superscript:before {
  content: "\f12b";
}
.icon-subscript:before {
  content: "\f12c";
}
.icon-eraser:before {
  content: "\f12d";
}
.icon-puzzle-piece:before {
  content: "\f12e";
}
.icon-microphone:before {
  content: "\f130";
}
.icon-microphone-slash:before {
  content: "\f131";
}
.icon-shield:before {
  content: "\f132";
}
.icon-calendar-o:before {
  content: "\f133";
}
.icon-fire-extinguisher:before {
  content: "\f134";
}
.icon-rocket:before {
  content: "\f135";
}
.icon-maxcdn:before {
  content: "\f136";
}
.icon-chevron-circle-left:before {
  content: "\f137";
}
.icon-chevron-circle-right:before {
  content: "\f138";
}
.icon-chevron-circle-up:before {
  content: "\f139";
}
.icon-chevron-circle-down:before {
  content: "\f13a";
}
.icon-html5:before {
  content: "\f13b";
}
.icon-css3:before {
  content: "\f13c";
}
.icon-anchor:before {
  content: "\f13d";
}
.icon-unlock-alt:before {
  content: "\f13e";
}
.icon-bullseye:before {
  content: "\f140";
}
.icon-ellipsis-h:before {
  content: "\f141";
}
.icon-ellipsis-v:before {
  content: "\f142";
}
.icon-rss-square:before {
  content: "\f143";
}
.icon-play-circle:before {
  content: "\f144";
}
.icon-ticket:before {
  content: "\f145";
}
.icon-minus-square:before {
  content: "\f146";
}
.icon-minus-square-o:before {
  content: "\f147";
}
.icon-level-up:before {
  content: "\f148";
}
.icon-level-down:before {
  content: "\f149";
}
.icon-check-square:before {
  content: "\f14a";
}
.icon-pencil-square:before {
  content: "\f14b";
}
.icon-external-link-square:before {
  content: "\f14c";
}
.icon-share-square:before {
  content: "\f14d";
}
.icon-compass:before {
  content: "\f14e";
}
.icon-caret-square-o-down:before {
  content: "\f150";
}
.icon-toggle-down:before {
  content: "\f150";
}
.icon-caret-square-o-up:before {
  content: "\f151";
}
.icon-toggle-up:before {
  content: "\f151";
}
.icon-caret-square-o-right:before {
  content: "\f152";
}
.icon-toggle-right:before {
  content: "\f152";
}
.icon-eur:before {
  content: "\f153";
}
.icon-euro:before {
  content: "\f153";
}
.icon-gbp:before {
  content: "\f154";
}
.icon-dollar:before {
  content: "\f155";
}
.icon-usd:before {
  content: "\f155";
}
.icon-inr:before {
  content: "\f156";
}
.icon-rupee:before {
  content: "\f156";
}
.icon-cny:before {
  content: "\f157";
}
.icon-jpy:before {
  content: "\f157";
}
.icon-rmb:before {
  content: "\f157";
}
.icon-yen:before {
  content: "\f157";
}
.icon-rouble:before {
  content: "\f158";
}
.icon-rub:before {
  content: "\f158";
}
.icon-ruble:before {
  content: "\f158";
}
.icon-krw:before {
  content: "\f159";
}
.icon-won:before {
  content: "\f159";
}
.icon-bitcoin:before {
  content: "\f15a";
}
.icon-btc:before {
  content: "\f15a";
}
.icon-file:before {
  content: "\f15b";
}
.icon-file-text:before {
  content: "\f15c";
}
.icon-sort-alpha-asc:before {
  content: "\f15d";
}
.icon-sort-alpha-desc:before {
  content: "\f15e";
}
.icon-sort-amount-asc:before {
  content: "\f160";
}
.icon-sort-amount-desc:before {
  content: "\f161";
}
.icon-sort-numeric-asc:before {
  content: "\f162";
}
.icon-sort-numeric-desc:before {
  content: "\f163";
}
.icon-thumbs-up:before {
  content: "\f164";
}
.icon-thumbs-down:before {
  content: "\f165";
}
.icon-youtube-square:before {
  content: "\f166";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-xing:before {
  content: "\f168";
}
.icon-xing-square:before {
  content: "\f169";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-dropbox:before {
  content: "\f16b";
}
.icon-stack-overflow:before {
  content: "\f16c";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-flickr:before {
  content: "\f16e";
}
.icon-adn:before {
  content: "\f170";
}
.icon-bitbucket:before {
  content: "\f171";
}
.icon-bitbucket-square:before {
  content: "\f172";
}
.icon-tumblr:before {
  content: "\f173";
}
.icon-tumblr-square:before {
  content: "\f174";
}
.icon-long-arrow-down:before {
  content: "\f175";
}
.icon-long-arrow-up:before {
  content: "\f176";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-apple:before {
  content: "\f179";
}
.icon-windows:before {
  content: "\f17a";
}
.icon-android:before {
  content: "\f17b";
}
.icon-linux:before {
  content: "\f17c";
}
.icon-dribbble:before {
  content: "\f17d";
}
.icon-skype:before {
  content: "\f17e";
}
.icon-foursquare:before {
  content: "\f180";
}
.icon-trello:before {
  content: "\f181";
}
.icon-female:before {
  content: "\f182";
}
.icon-male:before {
  content: "\f183";
}
.icon-gittip:before {
  content: "\f184";
}
.icon-gratipay:before {
  content: "\f184";
}
.icon-sun-o:before {
  content: "\f185";
}
.icon-moon-o:before {
  content: "\f186";
}
.icon-archive:before {
  content: "\f187";
}
.icon-bug:before {
  content: "\f188";
}
.icon-vk:before {
  content: "\f189";
}
.icon-weibo:before {
  content: "\f18a";
}
.icon-renren:before {
  content: "\f18b";
}
.icon-pagelines:before {
  content: "\f18c";
}
.icon-stack-exchange:before {
  content: "\f18d";
}
.icon-arrow-circle-o-right:before {
  content: "\f18e";
}
.icon-arrow-circle-o-left:before {
  content: "\f190";
}
.icon-caret-square-o-left:before {
  content: "\f191";
}
.icon-toggle-left:before {
  content: "\f191";
}
.icon-dot-circle-o:before {
  content: "\f192";
}
.icon-wheelchair:before {
  content: "\f193";
}
.icon-vimeo-square:before {
  content: "\f194";
}
.icon-try:before {
  content: "\f195";
}
.icon-turkish-lira:before {
  content: "\f195";
}
.icon-plus-square-o:before {
  content: "\f196";
}
.icon-space-shuttle:before {
  content: "\f197";
}
.icon-slack:before {
  content: "\f198";
}
.icon-envelope-square:before {
  content: "\f199";
}
.icon-wordpress:before {
  content: "\f19a";
}
.icon-openid:before {
  content: "\f19b";
}
.icon-bank:before {
  content: "\f19c";
}
.icon-institution:before {
  content: "\f19c";
}
.icon-university:before {
  content: "\f19c";
}
.icon-graduation-cap:before {
  content: "\f19d";
}
.icon-mortar-board:before {
  content: "\f19d";
}
.icon-yahoo:before {
  content: "\f19e";
}
.icon-google:before {
  content: "\f1a0";
}
.icon-reddit:before {
  content: "\f1a1";
}
.icon-reddit-square:before {
  content: "\f1a2";
}
.icon-stumbleupon-circle:before {
  content: "\f1a3";
}
.icon-stumbleupon:before {
  content: "\f1a4";
}
.icon-delicious:before {
  content: "\f1a5";
}
.icon-digg:before {
  content: "\f1a6";
}
.icon-pied-piper-pp:before {
  content: "\f1a7";
}
.icon-pied-piper-alt:before {
  content: "\f1a8";
}
.icon-drupal:before {
  content: "\f1a9";
}
.icon-joomla:before {
  content: "\f1aa";
}
.icon-language:before {
  content: "\f1ab";
}
.icon-fax:before {
  content: "\f1ac";
}
.icon-building:before {
  content: "\f1ad";
}
.icon-child:before {
  content: "\f1ae";
}
.icon-paw:before {
  content: "\f1b0";
}
.icon-spoon:before {
  content: "\f1b1";
}
.icon-cube:before {
  content: "\f1b2";
}
.icon-cubes:before {
  content: "\f1b3";
}
.icon-behance:before {
  content: "\f1b4";
}
.icon-behance-square:before {
  content: "\f1b5";
}
.icon-steam:before {
  content: "\f1b6";
}
.icon-steam-square:before {
  content: "\f1b7";
}
.icon-recycle:before {
  content: "\f1b8";
}
.icon-automobile:before {
  content: "\f1b9";
}
.icon-car:before {
  content: "\f1b9";
}
.icon-cab:before {
  content: "\f1ba";
}
.icon-taxi:before {
  content: "\f1ba";
}
.icon-tree:before {
  content: "\f1bb";
}
.icon-spotify:before {
  content: "\f1bc";
}
.icon-deviantart:before {
  content: "\f1bd";
}
.icon-soundcloud:before {
  content: "\f1be";
}
.icon-database:before {
  content: "\f1c0";
}
.icon-file-pdf-o:before {
  content: "\f1c1";
}
.icon-file-word-o:before {
  content: "\f1c2";
}
.icon-file-excel-o:before {
  content: "\f1c3";
}
.icon-file-powerpoint-o:before {
  content: "\f1c4";
}
.icon-file-image-o:before {
  content: "\f1c5";
}
.icon-file-photo-o:before {
  content: "\f1c5";
}
.icon-file-picture-o:before {
  content: "\f1c5";
}
.icon-file-archive-o:before {
  content: "\f1c6";
}
.icon-file-zip-o:before {
  content: "\f1c6";
}
.icon-file-audio-o:before {
  content: "\f1c7";
}
.icon-file-sound-o:before {
  content: "\f1c7";
}
.icon-file-movie-o:before {
  content: "\f1c8";
}
.icon-file-video-o:before {
  content: "\f1c8";
}
.icon-file-code-o:before {
  content: "\f1c9";
}
.icon-vine:before {
  content: "\f1ca";
}
.icon-codepen:before {
  content: "\f1cb";
}
.icon-jsfiddle:before {
  content: "\f1cc";
}
.icon-life-bouy:before {
  content: "\f1cd";
}
.icon-life-buoy:before {
  content: "\f1cd";
}
.icon-life-ring:before {
  content: "\f1cd";
}
.icon-life-saver:before {
  content: "\f1cd";
}
.icon-support:before {
  content: "\f1cd";
}
.icon-circle-o-notch:before {
  content: "\f1ce";
}
.icon-ra:before {
  content: "\f1d0";
}
.icon-rebel:before {
  content: "\f1d0";
}
.icon-resistance:before {
  content: "\f1d0";
}
.icon-empire:before {
  content: "\f1d1";
}
.icon-ge:before {
  content: "\f1d1";
}
.icon-git-square:before {
  content: "\f1d2";
}
.icon-git:before {
  content: "\f1d3";
}
.icon-hacker-news:before {
  content: "\f1d4";
}
.icon-y-combinator-square:before {
  content: "\f1d4";
}
.icon-yc-square:before {
  content: "\f1d4";
}
.icon-tencent-weibo:before {
  content: "\f1d5";
}
.icon-qq:before {
  content: "\f1d6";
}
.icon-wechat:before {
  content: "\f1d7";
}
.icon-weixin:before {
  content: "\f1d7";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-send:before {
  content: "\f1d8";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-send-o:before {
  content: "\f1d9";
}
.icon-history:before {
  content: "\f1da";
}
.icon-circle-thin:before {
  content: "\f1db";
}
.icon-header:before {
  content: "\f1dc";
}
.icon-paragraph:before {
  content: "\f1dd";
}
.icon-sliders:before {
  content: "\f1de";
}
.icon-share-alt:before {
  content: "\f1e0";
}
.icon-share-alt-square:before {
  content: "\f1e1";
}
.icon-bomb:before {
  content: "\f1e2";
}
.icon-futbol-o:before {
  content: "\f1e3";
}
.icon-soccer-ball-o:before {
  content: "\f1e3";
}
.icon-tty:before {
  content: "\f1e4";
}
.icon-binoculars:before {
  content: "\f1e5";
}
.icon-plug:before {
  content: "\f1e6";
}
.icon-slideshare:before {
  content: "\f1e7";
}
.icon-twitch:before {
  content: "\f1e8";
}
.icon-yelp:before {
  content: "\f1e9";
}
.icon-newspaper-o:before {
  content: "\f1ea";
}
.icon-wifi:before {
  content: "\f1eb";
}
.icon-calculator:before {
  content: "\f1ec";
}
.icon-paypal:before {
  content: "\f1ed";
}
.icon-google-wallet:before {
  content: "\f1ee";
}
.icon-cc-visa:before {
  content: "\f1f0";
}
.icon-cc-mastercard:before {
  content: "\f1f1";
}
.icon-cc-discover:before {
  content: "\f1f2";
}
.icon-cc-amex:before {
  content: "\f1f3";
}
.icon-cc-paypal:before {
  content: "\f1f4";
}
.icon-cc-stripe:before {
  content: "\f1f5";
}
.icon-bell-slash:before {
  content: "\f1f6";
}
.icon-bell-slash-o:before {
  content: "\f1f7";
}
.icon-trash:before {
  content: "\f1f8";
}
.icon-copyright:before {
  content: "\f1f9";
}
.icon-at:before {
  content: "\f1fa";
}
.icon-eyedropper:before {
  content: "\f1fb";
}
.icon-paint-brush:before {
  content: "\f1fc";
}
.icon-birthday-cake:before {
  content: "\f1fd";
}
.icon-area-chart:before {
  content: "\f1fe";
}
.icon-pie-chart:before {
  content: "\f200";
}
.icon-line-chart:before {
  content: "\f201";
}
.icon-lastfm:before {
  content: "\f202";
}
.icon-lastfm-square:before {
  content: "\f203";
}
.icon-toggle-off:before {
  content: "\f204";
}
.icon-toggle-on:before {
  content: "\f205";
}
.icon-bicycle:before {
  content: "\f206";
}
.icon-bus:before {
  content: "\f207";
}
.icon-ioxhost:before {
  content: "\f208";
}
.icon-angellist:before {
  content: "\f209";
}
.icon-cc:before {
  content: "\f20a";
}
.icon-ils:before {
  content: "\f20b";
}
.icon-shekel:before {
  content: "\f20b";
}
.icon-sheqel:before {
  content: "\f20b";
}
.icon-meanpath:before {
  content: "\f20c";
}
.icon-buysellads:before {
  content: "\f20d";
}
.icon-connectdevelop:before {
  content: "\f20e";
}
.icon-dashcube:before {
  content: "\f210";
}
.icon-forumbee:before {
  content: "\f211";
}
.icon-leanpub:before {
  content: "\f212";
}
.icon-sellsy:before {
  content: "\f213";
}
.icon-shirtsinbulk:before {
  content: "\f214";
}
.icon-simplybuilt:before {
  content: "\f215";
}
.icon-skyatlas:before {
  content: "\f216";
}
.icon-cart-plus:before {
  content: "\f217";
}
.icon-cart-arrow-down:before {
  content: "\f218";
}
.icon-diamond:before {
  content: "\f219";
}
.icon-ship:before {
  content: "\f21a";
}
.icon-user-secret:before {
  content: "\f21b";
}
.icon-motorcycle:before {
  content: "\f21c";
}
.icon-street-view:before {
  content: "\f21d";
}
.icon-heartbeat:before {
  content: "\f21e";
}
.icon-venus:before {
  content: "\f221";
}
.icon-mars:before {
  content: "\f222";
}
.icon-mercury:before {
  content: "\f223";
}
.icon-intersex:before {
  content: "\f224";
}
.icon-transgender:before {
  content: "\f224";
}
.icon-transgender-alt:before {
  content: "\f225";
}
.icon-venus-double:before {
  content: "\f226";
}
.icon-mars-double:before {
  content: "\f227";
}
.icon-venus-mars:before {
  content: "\f228";
}
.icon-mars-stroke:before {
  content: "\f229";
}
.icon-mars-stroke-v:before {
  content: "\f22a";
}
.icon-mars-stroke-h:before {
  content: "\f22b";
}
.icon-neuter:before {
  content: "\f22c";
}
.icon-genderless:before {
  content: "\f22d";
}
.icon-facebook-official:before {
  content: "\f230";
}
.icon-pinterest-p:before {
  content: "\f231";
}
.icon-whatsapp:before {
  content: "\f232";
}
.icon-server:before {
  content: "\f233";
}
.icon-user-plus:before {
  content: "\f234";
}
.icon-user-times:before {
  content: "\f235";
}
.icon-bed:before {
  content: "\f236";
}
.icon-hotel:before {
  content: "\f236";
}
.icon-viacoin:before {
  content: "\f237";
}
.icon-train:before {
  content: "\f238";
}
.icon-subway:before {
  content: "\f239";
}
.icon-medium:before {
  content: "\f23a";
}
.icon-y-combinator:before {
  content: "\f23b";
}
.icon-yc:before {
  content: "\f23b";
}
.icon-optin-monster:before {
  content: "\f23c";
}
.icon-opencart:before {
  content: "\f23d";
}
.icon-expeditedssl:before {
  content: "\f23e";
}
.icon-battery:before {
  content: "\f240";
}
.icon-battery-4:before {
  content: "\f240";
}
.icon-battery-full:before {
  content: "\f240";
}
.icon-battery-3:before {
  content: "\f241";
}
.icon-battery-three-quarters:before {
  content: "\f241";
}
.icon-battery-2:before {
  content: "\f242";
}
.icon-battery-half:before {
  content: "\f242";
}
.icon-battery-1:before {
  content: "\f243";
}
.icon-battery-quarter:before {
  content: "\f243";
}
.icon-battery-0:before {
  content: "\f244";
}
.icon-battery-empty:before {
  content: "\f244";
}
.icon-mouse-pointer:before {
  content: "\f245";
}
.icon-i-cursor:before {
  content: "\f246";
}
.icon-object-group:before {
  content: "\f247";
}
.icon-object-ungroup:before {
  content: "\f248";
}
.icon-sticky-note:before {
  content: "\f249";
}
.icon-sticky-note-o:before {
  content: "\f24a";
}
.icon-cc-jcb:before {
  content: "\f24b";
}
.icon-cc-diners-club:before {
  content: "\f24c";
}
.icon-clone:before {
  content: "\f24d";
}
.icon-balance-scale:before {
  content: "\f24e";
}
.icon-hourglass-o:before {
  content: "\f250";
}
.icon-hourglass-1:before {
  content: "\f251";
}
.icon-hourglass-start:before {
  content: "\f251";
}
.icon-hourglass-2:before {
  content: "\f252";
}
.icon-hourglass-half:before {
  content: "\f252";
}
.icon-hourglass-3:before {
  content: "\f253";
}
.icon-hourglass-end:before {
  content: "\f253";
}
.icon-hourglass:before {
  content: "\f254";
}
.icon-hand-grab-o:before {
  content: "\f255";
}
.icon-hand-rock-o:before {
  content: "\f255";
}
.icon-hand-paper-o:before {
  content: "\f256";
}
.icon-hand-stop-o:before {
  content: "\f256";
}
.icon-hand-scissors-o:before {
  content: "\f257";
}
.icon-hand-lizard-o:before {
  content: "\f258";
}
.icon-hand-spock-o:before {
  content: "\f259";
}
.icon-hand-pointer-o:before {
  content: "\f25a";
}
.icon-hand-peace-o:before {
  content: "\f25b";
}
.icon-trademark:before {
  content: "\f25c";
}
.icon-registered:before {
  content: "\f25d";
}
.icon-creative-commons:before {
  content: "\f25e";
}
.icon-gg:before {
  content: "\f260";
}
.icon-gg-circle:before {
  content: "\f261";
}
.icon-tripadvisor:before {
  content: "\f262";
}
.icon-odnoklassniki:before {
  content: "\f263";
}
.icon-odnoklassniki-square:before {
  content: "\f264";
}
.icon-get-pocket:before {
  content: "\f265";
}
.icon-wikipedia-w:before {
  content: "\f266";
}
.icon-safari:before {
  content: "\f267";
}
.icon-chrome:before {
  content: "\f268";
}
.icon-firefox:before {
  content: "\f269";
}
.icon-opera:before {
  content: "\f26a";
}
.icon-internet-explorer:before {
  content: "\f26b";
}
.icon-television:before {
  content: "\f26c";
}
.icon-tv:before {
  content: "\f26c";
}
.icon-contao:before {
  content: "\f26d";
}
.icon-500px:before {
  content: "\f26e";
}
.icon-amazon:before {
  content: "\f270";
}
.icon-calendar-plus-o:before {
  content: "\f271";
}
.icon-calendar-minus-o:before {
  content: "\f272";
}
.icon-calendar-times-o:before {
  content: "\f273";
}
.icon-calendar-check-o:before {
  content: "\f274";
}
.icon-industry:before {
  content: "\f275";
}
.icon-map-pin:before {
  content: "\f276";
}
.icon-map-signs:before {
  content: "\f277";
}
.icon-map-o:before {
  content: "\f278";
}
.icon-map:before {
  content: "\f279";
}
.icon-commenting:before {
  content: "\f27a";
}
.icon-commenting-o:before {
  content: "\f27b";
}
.icon-houzz:before {
  content: "\f27c";
}
.icon-vimeo:before {
  content: "\f27d";
}
.icon-black-tie:before {
  content: "\f27e";
}
.icon-fonticons:before {
  content: "\f280";
}
.icon-reddit-alien:before {
  content: "\f281";
}
.icon-edge:before {
  content: "\f282";
}
.icon-credit-card-alt:before {
  content: "\f283";
}
.icon-codiepie:before {
  content: "\f284";
}
.icon-modx:before {
  content: "\f285";
}
.icon-fort-awesome:before {
  content: "\f286";
}
.icon-usb:before {
  content: "\f287";
}
.icon-product-hunt:before {
  content: "\f288";
}
.icon-mixcloud:before {
  content: "\f289";
}
.icon-scribd:before {
  content: "\f28a";
}
.icon-pause-circle:before {
  content: "\f28b";
}
.icon-pause-circle-o:before {
  content: "\f28c";
}
.icon-stop-circle:before {
  content: "\f28d";
}
.icon-stop-circle-o:before {
  content: "\f28e";
}
.icon-shopping-bag:before {
  content: "\f290";
}
.icon-shopping-basket:before {
  content: "\f291";
}
.icon-hashtag:before {
  content: "\f292";
}
.icon-bluetooth:before {
  content: "\f293";
}
.icon-bluetooth-b:before {
  content: "\f294";
}
.icon-percent:before {
  content: "\f295";
}
.icon-gitlab:before {
  content: "\f296";
}
.icon-wpbeginner:before {
  content: "\f297";
}
.icon-wpforms:before {
  content: "\f298";
}
.icon-envira:before {
  content: "\f299";
}
.icon-universal-access:before {
  content: "\f29a";
}
.icon-wheelchair-alt:before {
  content: "\f29b";
}
.icon-question-circle-o:before {
  content: "\f29c";
}
.icon-blind:before {
  content: "\f29d";
}
.icon-audio-description:before {
  content: "\f29e";
}
.icon-volume-control-phone:before {
  content: "\f2a0";
}
.icon-braille:before {
  content: "\f2a1";
}
.icon-assistive-listening-systems:before {
  content: "\f2a2";
}
.icon-american-sign-language-interpreting:before {
  content: "\f2a3";
}
.icon-asl-interpreting:before {
  content: "\f2a3";
}
.icon-deaf:before {
  content: "\f2a4";
}
.icon-deafness:before {
  content: "\f2a4";
}
.icon-hard-of-hearing:before {
  content: "\f2a4";
}
.icon-glide:before {
  content: "\f2a5";
}
.icon-glide-g:before {
  content: "\f2a6";
}
.icon-sign-language:before {
  content: "\f2a7";
}
.icon-signing:before {
  content: "\f2a7";
}
.icon-low-vision:before {
  content: "\f2a8";
}
.icon-viadeo:before {
  content: "\f2a9";
}
.icon-viadeo-square:before {
  content: "\f2aa";
}
.icon-snapchat:before {
  content: "\f2ab";
}
.icon-snapchat-ghost:before {
  content: "\f2ac";
}
.icon-snapchat-square:before {
  content: "\f2ad";
}
.icon-pied-piper:before {
  content: "\f2ae";
}
.icon-first-order:before {
  content: "\f2b0";
}
.icon-yoast:before {
  content: "\f2b1";
}
.icon-themeisle:before {
  content: "\f2b2";
}
.icon-google-plus-circle:before {
  content: "\f2b3";
}
.icon-google-plus-official:before {
  content: "\f2b3";
}
.icon-fa:before {
  content: "\f2b4";
}
.icon-font-awesome:before {
  content: "\f2b4";
}
.icon-handshake-o:before {
  content: "\f2b5";
}
.icon-envelope-open:before {
  content: "\f2b6";
}
.icon-envelope-open-o:before {
  content: "\f2b7";
}
.icon-linode:before {
  content: "\f2b8";
}
.icon-address-book:before {
  content: "\f2b9";
}
.icon-address-book-o:before {
  content: "\f2ba";
}
.icon-address-card:before {
  content: "\f2bb";
}
.icon-vcard:before {
  content: "\f2bb";
}
.icon-address-card-o:before {
  content: "\f2bc";
}
.icon-vcard-o:before {
  content: "\f2bc";
}
.icon-user-circle:before {
  content: "\f2bd";
}
.icon-user-circle-o:before {
  content: "\f2be";
}
.icon-user-o:before {
  content: "\f2c0";
}
.icon-id-badge:before {
  content: "\f2c1";
}
.icon-drivers-license:before {
  content: "\f2c2";
}
.icon-id-card:before {
  content: "\f2c2";
}
.icon-drivers-license-o:before {
  content: "\f2c3";
}
.icon-id-card-o:before {
  content: "\f2c3";
}
.icon-quora:before {
  content: "\f2c4";
}
.icon-free-code-camp:before {
  content: "\f2c5";
}
.icon-telegram:before {
  content: "\f2c6";
}
.icon-thermometer:before {
  content: "\f2c7";
}
.icon-thermometer-4:before {
  content: "\f2c7";
}
.icon-thermometer-full:before {
  content: "\f2c7";
}
.icon-thermometer-3:before {
  content: "\f2c8";
}
.icon-thermometer-three-quarters:before {
  content: "\f2c8";
}
.icon-thermometer-2:before {
  content: "\f2c9";
}
.icon-thermometer-half:before {
  content: "\f2c9";
}
.icon-thermometer-1:before {
  content: "\f2ca";
}
.icon-thermometer-quarter:before {
  content: "\f2ca";
}
.icon-thermometer-0:before {
  content: "\f2cb";
}
.icon-thermometer-empty:before {
  content: "\f2cb";
}
.icon-shower:before {
  content: "\f2cc";
}
.icon-bath:before {
  content: "\f2cd";
}
.icon-bathtub:before {
  content: "\f2cd";
}
.icon-s15:before {
  content: "\f2cd";
}
.icon-podcast:before {
  content: "\f2ce";
}
.icon-window-maximize:before {
  content: "\f2d0";
}
.icon-window-minimize:before {
  content: "\f2d1";
}
.icon-window-restore:before {
  content: "\f2d2";
}
.icon-times-rectangle:before {
  content: "\f2d3";
}
.icon-window-close:before {
  content: "\f2d3";
}
.icon-times-rectangle-o:before {
  content: "\f2d4";
}
.icon-window-close-o:before {
  content: "\f2d4";
}
.icon-bandcamp:before {
  content: "\f2d5";
}
.icon-grav:before {
  content: "\f2d6";
}
.icon-etsy:before {
  content: "\f2d7";
}
.icon-imdb:before {
  content: "\f2d8";
}
.icon-ravelry:before {
  content: "\f2d9";
}
.icon-eercast:before {
  content: "\f2da";
}
.icon-microchip:before {
  content: "\f2db";
}
.icon-snowflake-o:before {
  content: "\f2dc";
}
.icon-superpowers:before {
  content: "\f2dd";
}
.icon-wpexplorer:before {
  content: "\f2de";
}
.icon-meetup:before {
  content: "\f2e0";
}
