.cont-formulario{
	width: 100%;
	margin-top: 50px;
}

.cont-formulario #formulario{
	width: 60%;
	border: 1px solid #000000;
	box-shadow: 5px 5px 5px #ADACAC;
	margin: auto;
	border-radius: 0px 10px 0px 10px;
}


.nombre{
	display: flex;
	justify-content: center;
	height: 30px;
	margin-top: 40px;
	margin-bottom: 10px;

}
.nombre .label-nombre{
	width: 20%;
	text-align:end;
	align-items: center;
	margin-right: 3%;
}
.nombre .input-nombre{
	width: 60%;
}

.tipo{
	display: flex;
	justify-content: center;
	height: 60px;
	margin: 10px 0px;
}
.tipo .label-tipo{
	width: 20%;
	text-align:end;
	align-items: center;
	margin-right: 3%;
}
.tipo .select-tipo{
	width: 60%;
}

.descripcion{
	display: flex;
	justify-content: center;
	margin: 10px 0px;

}

.label-desc{
	width: 20%;
	text-align:end;
	align-items: center;
	margin-right: 3%;
}
.textarea-desc{
	width: 60%;
	height: 90px;
	min-width: 30px;
}

.ataque-especial{
	display: flex;
	justify-content: center;
	height: 30px;
	margin: 10px 0px;
}
.label-ataque{
	width: 20%;
	text-align:end;
	align-items: center;
	margin-right: 3%;
}
.input-ataque{
	width: 60%;
}

.imagen{
	display: flex;
	justify-content: center;
	height: 30px;
	margin: 10px 0px;
}
.label-imagen{
	width: 20%;
	text-align:end;
	align-items: center;
	margin-right: 3%;
}
.input-imagen{
	width: 60%;
}
.registrar{
	display: flex;
	justify-content: center;
	height: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.input-registrar{
	width: 50%;
}
.input-registrar{
	background: linear-gradient(180deg ,#15FBFE,#03B1CC);
	border-radius: 0px 5px 0px 5px;
	border:1px solid #000000;
	font-weight: bold;
	box-shadow: 5px 5px 5px #ADACAC;
}

#error-nombre, #error-tipo,#error-descripcion,#error-ataque-especial,#error-imagen{
width: 60%;
margin-left: 31.5%;

} 
.formulario div span{
	font-weight: bolder;
	border: 1px solid;
	background: #FFA1A1;
	color: #FD0000;
	padding: 2.5px 10px;
	border-radius: 0px 3px 0px 3px;
}
