*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.section-pokemon{
	margin-top: 50px;
}

.art-buscar{
	width: 80%;
	margin: auto;	
}

.div-buscar{
	width: 100%;
	text-align: center;
}

.div-cont-buscador{
	width: 100%;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.div-buscar .buscador{
	width: 50%;
	padding: 5px;
	height: 35px;
	font-family: 15px;
	border-radius: 0px 5px 0px 5px; 
	border: 1px solid #858585;
	box-shadow: 5px 5px 5px #ADACAC;
}

.div-buscar .buscar{
	border-radius: 0px 5px 0px 5px; 
	margin-left: 5px;  
	padding: 5px 15px;
	color: #fff;	
	background: linear-gradient(45deg,#08FC00,#019010);
	font-family: 15px;
	font-weight: bold;
	border: 1px solid #009410;
	height: 35px;
	box-shadow: 5px 5px 5px #ADACAC;
}

.art-pokemon{
	
	margin:auto;
	width: 80%;
	margin-top: 50px;
}

#todos-pokemon{	
	width: 100%;

}

#todos-pokemon > div{
	display: inline-flex;
	height: 325px;
	background: #393838;
	width: 19%;
	margin: 0% 0.5% 1% 0.5%;
	border: 1px solid #858585;
	border-radius: 0px 8px 0px 8px; 
	box-shadow: 5px 5px 5px #ADACAC;

}

#todos-pokemon div a{
	text-decoration: none;
	color: #000000;
	width: 100%;
}

.nombre-pokemon a img{
	width: 100%;
	background: linear-gradient(45deg,#fff,#fff,#fff,#A4A4A4);
	border-radius: 0px 8px 0px 0px; 
}

.id-poke{
	background: #FF7000;
	display: block;
	padding-left: 5%;
	font-weight: bold;
}

.nombre-poke{
	text-align: center;
	font-size:23px;
	color: #fff;
	margin-bottom: 0;
}


.los-tipo{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	
}
.los-tipos div{
	
	width: 90%;
	margin: auto;

}

.los-tipos p{
	display: inline-block;
	background: #F1F13E;
	border-radius: 3px;
	margin: 1px 2px;
	padding: 1px 8px;
	font-size: 12px;
}

#todos-pokemon > div:hover img{
	/*background: linear-gradient(45deg,#FF7000,#E64200,#250E04);*/
	background: linear-gradient(45deg,#15FBFE,#04251C);
	
}
