*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

header{
	width: 100%;
	height:45px;
	background: #393838;

}

.pokemon-logo{
	width: 90px;
}

.menu{
	
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%;

}

.menu .logo li{
	list-style: none;
}

.menu .links li{
	list-style: none;
	display: inline-block;
}

.menu .links li a{
	text-align: center;
	width: 100%;
	display: block;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	padding: 3px 10px;
	display: flex;
	align-items: center;

}

.links li a span{
	margin-right:7px;
}

.links  li .inicio{
	border: 2px solid #FF7000;
}

.links  li .inicio:hover{
	background: #fff;
	color: #393838;
}
.links  li .inicio:hover span{
	color: #FF7000;
}

.links li .agregar{
	border: 2px solid #15FBFE;
	font-size: 17px;
}

.links li .agregar:hover{
	background: #fff;
	color: #393838;
}
.links li .agregar:hover span{
	color:  #15FBFE;
	font-size: 17px;
}
/*
header{
	background:#393838;
	width: 100%;
	height: 50px;
}

header .menu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	height: 100%;
	margin: auto;
	position: relative;
	
}

header .menu div li{
	list-style: none;
	display: inline-block;
}

header .menu div li a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;

}

header .menu .links{

}


header .menu .logo .pokemon-logo{
	width:100px;
	height:35px;
}

header .menu .links li a{
	text-decoration: none;
	padding: 5px 10px;
	display: flex;
	align-items: center;
	width: 100%;
}

header .menu .links li .inicio{
	border: 2px solid #FF7000;
}
header .menu .links li .inicio:hover{
	background: #fff;
	color:#393838;
	border: 2px solid #fff;
	transition: 0.2s; 
}

header .menu .links li .inicio:hover span{
	color: #FF7000;
}

header .menu .links li .agregar{
	border: 2px solid #15FBFE;
}

header .menu .links li .agregar:hover{
	background: #fff;
	color: #393838; 
	border: 2px solid #fff; 
	transition: 0.2s; 
}
header .menu .links li .agregar:hover span{
	color: #15FBFE;
}

header .menu .links li a span{
	margin-right: 10px;
}

#boton-desplegable{
	color: #fff;
	font-size: 30px;
	display: none;
}

@media only screen and (max-width: 768px){
	header .menu{
		width: 90%;
	}
	header .menu .links li a{
		display: none;
	}
	#boton-desplegable{
		display: block;
	}

}

*/

