*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.section-mp{
	margin-top: 50px;
	width: 100%;

}

.section-mp .article-mp{ 
	width: 80%;
	margin: auto;
	border: 1px solid ;
	box-shadow: 5px 5px 5px #ADACAC;
	border-radius: 0px 8px 0px 8px;
}
.pokemon-nombre{
	background: #393838;
	text-align: center;
	color: #fff;
	margin-bottom: 0px;
	border-radius: 0px 8px 0px 0px;
}

.content{
	
	margin: 5%;
	width: 90%;
	height: 100%;
	display: flex;
	justify-content:space-around;
	align-items: center; 
}
.img-pk{
	width: 45%;
	height: 400px;
	background: #E1DFDF;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0px 8px 0px 8px;
}
.img-pk img{
	width: 80%;
	height: 80%;
	
}
.desc-mp{
	width: 45%;	
	height:400px;

}
.desc{
	margin: auto;
	display: flex;
	background: #2AB0C5;
	align-items: center;
	justify-content: center;
	width: 100%;
	height:60%;
	margin-bottom: 2%;
	border-radius: 0px 8px 0px 8px;
	/*border-bottom: 8px solid #fff;*/
	border-radius: 8px;

}
.desc p{
	width: 80%;
	font-size: 18px;
}
.div-tipo{
	margin-top: 0%;
	height: 38%;
	background: #393838;
	display: flex;
	align-items: center;
	flex-direction: row;
	border-radius: 0px 8px 0px 8px;
}

.div-tipo p{
	color: #fff;

	font-size: 18px;
	margin-top: 5px;
	margin-left:10%;

	margin-bottom: 0px;

} 

.tipo{
	width: 80%;
	
	margin: auto;
	

}
.tipo span{
	display: inline-flex;
	border:1px solid;
	background: #F1F13E;
	font-weight: bold;
	font-size: 15px;
	padding: 2px 25px;
	margin:1px 2px;
	border-radius: 5px;
}